[2019-10-23 22:56] SolidHal commented on #133
Yeah, im almost done with a full benchmarking script that uses dd and fio and handles sequential, random, read, write and read/write (“realistic mode”).

It outputs in CSV format so we can import the data an make some nice graphs.

It’ll be in the PrawnOS repo. I’ll post here once I finish testing it.

[2019-10-24 06:23] SolidHal commented on #130
@JeremyRand

Sorry for the wall of text, I’ve been meaning to discuss the security of the c201 in a little depth so I ramble off topic a bit. I apologize if the formatting is off, I’ll fix it next chance I have at a computer.

The sd card is arguably more secure than the emmc vs an evil-maid attack on the boot device because it is removable.
The threats I see from an evil-maid attack are:
- Data t

[2019-10-29 17:57] SolidHal commented on #122
This is fixed in master with the new InstallPrawnOS.sh

[2019-10-29 17:57] #122 closed

[2019-10-29 18:09] albsod commented on #99
@rk-zero: I've tried your scripts on a fresh install, before running InstallPackages.sh. To make it work, I first had to edit it and remove sudo, since there was only the root user.

Panfrost support is great because it allows playing films and games such as Hedgewars smoothly, but for some reason Xfce is **less** responsive compared with the default install. Also, with Panfrost, there is some fli

[2019-10-29 18:18] rk-zero commented on #99
Hey @albsod

Disable desktop composition under Settings --> Windows Manager Tweaks, last tab "Compositor"

I take it from the panfrost video at ccc that there is right now no way to render the whole desktop, just single windows. Youtube will work fine afterwards, maybe look into h264ify if you have problems. Still, some videos lag audio with firefox and chrome wont recognize panfrost yet.

I don't

[2019-10-29 18:42] albsod commented on #99
Thanks @rk-zero! I think it works slightly better without compositing. It didn't help with plank though so I uninstalled the package.

This is the first time I've heard of the Hantro VPU driver. I don't have time to rebuild and test Linux versions right now, but I'd be happy to try any prebuilt kernel for PrawnOS.

[2019-10-29 20:37] SolidHal commented on #99
I tested panfrost with the mesa packages in bullseye, ran into similar graphical glitches and even had the system freeze when the lockscreen was enabled. Haven't had a chance to debug these fully yet, but will likely update the kernel and test again with mesa built from master instead of the debian package.

[2019-10-29 20:46] SolidHal commented on #56
Closing, suspend and screen locking are fully functional.

[2019-10-29 20:46] #56 closed

[2019-10-29 20:47] SolidHal commented on #43
Closing, encryption is fully functional on the internal emmc and external devices (usb/sd card).

[2019-10-29 20:47] #43 closed

[2019-10-30 04:15] SolidHal commented on #123
commits a099220fc6caf5ac302211a32598ed3ecfd8aad9 and 716306ea991c712e65b15e406ec9e244e7875b14 implement xkb. Everything tests functional, closing.

[2019-10-30 04:15] #123 closed

[2019-10-30 06:06] sokolgeo commented on #43
Wow, thank you for implementing the encryption!
Finally my Chromebook becomes useful!

On October 29, 2019 9:47:30 PM GMT+01:00, SolidHal <notifications@github.com> wrote:

[2019-10-31 07:33] rk-zero commented on #117
I have tested the new build. You need to add the user to the bluetooth group also, this is unfortunately not done automatically after installing blueman / bluetoothctl.

Those packages are not really taking up much space and i guess if you advocate bluetooth dongles  csr8510 this could be done during install of xfce to make things easier.

[2019-10-31 18:37] rk-zero commented on #117
So, bluetooth works in most cases after fixing groups. But ertm is still enabled by default. To confirm:

cat /sys/module/bluetooth/parameters/disable_ertm
N

in later releases.

I guess the modprobe way isn't working, sysfsutils seems to be needed to have it disabled across reboots.

apt install sysfsutils

echo "module/bluetooth/parameters/disable_ertm = 1" > /etc/sysfs.conf

afterwards:

cat /s

[2019-10-31 18:41] tehbra1n opened #135 "running CompilePanfrost.sh on alpha ver 20 doesn't result in Panfrost driver being used"
On a fresh install of alpha ver 20 on the internal emmc, w/encryption enabled and Xfce installed, after running CompilePanfrost.sh and rebooting, I still show that mesa is using the VMWare LLVM driver.

CompilePanfrost.sh output seems to show the process as I would expect to see (clone the mesa repo, run meson, run ninja install) and looks similar as to when I do a Panfrost install by hand followi

[2019-11-01 06:52] riwale commented on #117
@rk-zero both tips work, will close this issue

[2019-11-09 19:53] SolidHal commented on #105
fixed by the switch to xkb

[2019-11-09 19:53] #105 closed

[2019-11-09 20:01] SolidHal commented on #115
Looked over the list and seems pretty reasonable, I'll add them and give it a test.

[2019-11-19 03:22] #115 closed

[2019-11-19 03:23] SolidHal commented on #133
I have full benchmarks for the emmc, just trying to get them for an sd card. Have had two runs killed by read/write errors. Trying a new sd card.

[2019-11-19 03:46] SolidHal commented on #135
I'm not really sure how the system selects a driver, but can confirm that when I run the script it doesn't replace llvm. I'm poking around to see if I can figure it out, and I asked on the panfrost irc.

[2019-11-19 04:42] SolidHal commented on #117
Reopened so that the fix can be put into PrawnOS. Thanks for the testing and additional information @rk-zero. I'll add the user to the bluetooth group and fix how `disable_ertm` gets set. I think I'm going to hold off on installing any specific bluetooth software (blueman/bluetoothctl) until I can thoroughly test it myself.

[2019-12-03 02:41] SolidHal commented on #117
Applied new fix in 6bdd2abbaffddae6fc7242a62527d5f9d8c5f210, closing

[2019-12-03 02:41] #117 closed

[2019-12-03 02:43] SolidHal commented on #135
I have an updated version of CompilePanfrost.sh that I have been testing, however I'm running into stability issues with everything I've tested so far. Will update when I find a stable setup.

[2019-12-03 05:55] SolidHal commented on #135
The newest version of CompilePanfrost.sh will install a stable version of mesa now, and will result in the system using panfrost. There is still likely a memory leak in mesa along with other issues both with mesa and panfrost, but the system will run for a while without any issues. Closing

[2019-12-03 05:55] #135 closed

[2019-12-03 05:56] SolidHal commented on #99
Panfrost with a mostly stable mesa can now be built and installed using `InstallResources/CompilePanfrost.sh`

[2019-12-03 13:52] bobbybee commented on #99
\o/

On Mon, Dec 02, 2019 at 09:56:11PM -0800, SolidHal wrote:

[2019-12-03 18:28] albsod commented on #99
This is really cool. I have a question though: if `CompilePanfrost.sh` should be run after `InstallPackages.sh` (because it relies on **sudo** being set up), doesn't it conflict with the graphics configuration applied by the latter?

[2019-12-03 19:36] rk-zero commented on #99
@albsod it won't cause problems run before or after. If you use it with su - beforehand you can remove sudo from the script.

@bobbybee This is awesome work and a great inspiration to look further into C and hardware coding. If you like feedback, openarena still has problems for me, in more complex scenes only parts of the screen gets updated (little hard to aim):

`[26247.559991] panfrost ffa3000

[2019-12-03 19:50] SolidHal commented on #99
It doesn’t conflict, the installation process seems to tell the system to use Mesa/pan frost somehow. Not sure how that process works, but I can confirm that after running CompilePanfost.sh the system is using Mesa/panfrost

[2019-12-03 20:05] albsod commented on #99
@SolidHal: OK, great. With the previous version of the script, I could only make it work if I 1)  removed sudo from CompilePanfost.sh, 2) ran it as root and then 3) ran InstallPackages.sh. If I executed the scripts in the reverse order, then XFCE got messed up.

[2019-12-08 22:42] SolidHal commented on #133
After a loooong wait, the benchmark results for the SD card and emmc on the c201 are complete.
To benchmark, I used a script I wrote that runs fio and dd with many different block sizes and file sizes, running each test multiple times and taking an average to reduce error.
The script is available here https://github.com/SolidHal/Boot-Device-Benchmarking

Setup: asus c201 4GB model running PrawnOS

[2019-12-15 03:38] JeremyRand opened #136 "README inconsistent about build OS requirements"
The README states:

However, it also states:

I'm guessing that the latter paragraph should be updated to mention Buster instead of Stretch.

[2019-12-16 06:14] SolidHal commented on #136
You would be correct in that assumption, I have fixed it. Thanks!

[2019-12-16 06:14] #136 closed

[2019-12-20 20:41] SolidHal opened #137 "curl ssl/tls CA certificate issue"
On a fresh install of an old build all ssl requests I would try to make using curl would fail
with the error talking about being unable to verify the CA root certificate. I'm not sure why this would happen, I suspect its an issue with the older build?
The fix is to reload the symlinks to the ssl certificates by running
[code]
I'll test if this still happens on more recent builds.

[2019-12-24 20:55] ffff135 commented on #137
Same issue on the latest release, "v0.20-alpha". Neither curl nor youtube-dl would work without the options --insecure or --no-check-certificate respectively. Reloading the symlinks fixed it.

[2019-12-25 06:08] SolidHal commented on #137
I’m running a new build, I’ll see if it still happens there.

[2019-12-29 20:31] SolidHal commented on #137
Still happens on a new build, seems to be a but with debootstrap? I'm adding a line to the image building process to update the certificates during deboot

[2019-12-30 06:06] #137 closed

[2019-12-30 06:55] #5 closed

[2020-01-09 17:42] tehbra1n opened #138 "default hostname is "PrawnOS-Alpha" despite reaching v1.0"
self explanatory.  this appears in the title bar in the Xfce login screen and terminal windows, along with being the hostname

[2020-01-11 11:18] rk-zero commented on #40
Bluetooth support is great in 1.0.0 - even my quirky ms mouse now works out of the box with correct update intervals.

[2020-01-11 18:53] SolidHal opened #139 "Fix sound in firefox"
Firefox-esr _still_ has issues with playing sound for certain youtube videos, audio sources in general. firefox does not. Replace firefox-esr with firefox

[2020-01-11 18:55] SolidHal opened #140 "Clean up debian suite requirements"
right now we grab packages from multiple suites. This was done as functional versions weren't always in the stable suite. Check to see if we can consolidate suites.

[2020-01-11 18:55] SolidHal commented on #40
@rk-zero thats great to hear!

[2020-01-11 20:59] SolidHal commented on #138
Thanks for catching that, now fixed

[2020-01-11 20:59] #138 closed

[2020-01-11 20:59] SolidHal commented on #139
turns out pulseaudio was to blame, testing fix now

[2020-01-11 21:26] SolidHal commented on #94
all requirements have been met. panfrost support is still in alpha, but that is due to mesa bugs not prawnos bugs. closing

[2020-01-11 21:27] #94 closed

[2020-01-11 22:38] #140 closed

[2020-01-11 22:38] #139 closed

[2020-01-12 00:00] Anthony-Sensors commented on #78
This issue is fixed. Tested with release 1.0.

[2020-01-12 00:00] #78 closed

[2020-01-12 00:02] SolidHal commented on #78
@Anthony-Sensors Great to hear, thanks for testing it out!

[2020-01-12 01:11] Anthony-Sensors opened #141 "uncomplicated firewall does not work."
sudo ufw enable
ERROR: problem running ufw-init
modprobe: FATAL: Module nf_conntrack_netbios_ns not found in directory /lib/modules/5.2.21-gnu
iptables-restore: line 6 failed
iptables-restore: line 22 failed
iptables-restore v1.8.2 (nf_tables): Couldn't load match `conntrack':No such file or directory

Error occurred at line: 2
Try `iptables-restore -h' or 'iptables-restore --help' for more inform

[2020-01-12 11:24] rk-zero commented on #99
I just realized you can keep desktop composition on and youtube still works fine even at 1080p - i guess this is resolved.

Still have crashes with some document viewers and libreoffice. I disabled hardware acceleration in libreoffice prior to compiling panfrost, still crashes and returns to login screen. Any ideas? Not getting much from the logs, but will gladly post some if someone can tell me w

[2020-01-15 14:37] tehbra1n opened #142 "PrawnOS-Alpha hostname in /etc/hosts"
Thanks for catching that, now fixed

_Originally posted by @SolidHal in https://github.com/SolidHal/PrawnOS/issues/138#issuecomment-573353870_

Running sudo in 1.01 gives a warning "sudo: unable to resolve host PrawnOS: Termporary failure in name resolution".  This is a result of /etc/hosts still having PrawnOS-Alpha mapped to 127.0.0.1.  Editing /etc/hosts to change PrawnOS-Alpha to PrawnOS resol

[2020-01-16 00:12] #142 closed

[2020-01-17 18:19] rk-zero opened #143 "android tools adb broken since buster"
I know this is more a debian issue, but i use this device as my main and only computer, so adb not working and quitting with key not found was a big issue for me.

To fix it, add stretch as a source in /etc/apt/sources.d/stretch.list

deb http://deb.debian.org/debian/ stretch main

then downgrade adb:

apt update && \
apt install adb=1:7.0.0+r33-1 android-libadb=1:7.0.0+r33-1 android-libbase=1:7.0

[2020-01-19 05:52] SolidHal commented on #143
Thanks for providing instructions. I'll leave this issue open to serve as instructions until debian buster adb is functional again.

[2020-01-19 05:58] SolidHal commented on #141
I'm enabling the  NF_CONNTRACK_NETBIOS_NS driver in the config. From the debug info above that should fix this problem.

[2020-01-19 10:15] UralZima opened #144 "Chromebook is turning off randomly on charged battery usage. Please help"
Hello. I have Asus C100P (veyron_minnie). I built PrawnOS Kernel and added dtb/dts for veyron_minnie, and it works.
C201 and C100P are the same hardware.

The issue is, my chromebook is turning off on battery usage randomly. I did some tests to identify the issue. so:
1. It is turning off on youtube playback, 5 min or 30 min, it is guaranteed to turn off on battery usage.
2. It is not battery. I w

[2020-01-19 19:14] SolidHal commented on #144
Definitely a curious problem. Not something I have seen on any of my c201s. I would start by looking at what power management drivers are in use by the kernel and what userspace power management options are enabled. I believe power management is handled first through the chromebook EC and then by the kernel drivers, so it is possible the two are miscommunicating. In xfce Power manager, there is a

[2020-01-19 19:15] SolidHal commented on #144
Definitely a curious problem. Not something I have seen on any of my c201s. I would start by looking at what power management drivers are in use by the kernel and what userspace power management options are enabled. I believe power management is handled first through the chromebook EC and then by the kernel drivers, so it is possible the two are miscommunicating. In xfce Power manager, there is a

[2020-01-19 19:18] rk-zero commented on #143
To add to that, if you make a connection using the older version your adbkey will be created correctly and you can upgrade fine to the latest adb in buster.

[2020-01-19 19:23] rk-zero commented on #144
c100p is still way different from c201p. If you managed to boot prawnOS let us know about your progress. I couldn't boot the prawnOS kernel ootb.

I doubt the system is booting from the emmc.

librebooting the c100p from the c201p scripts WILL BRICK YOUR c100p.

[2020-01-19 19:29] rk-zero commented on #144
I have c100p for use laying around, if you can supply build instructions i will happily try the kernel on a non-librebooted c100p myself.

[2020-01-19 20:08] SolidHal commented on #144
If you're booting from usb, maybe usb power management is kicking in?

[2020-01-20 11:14] UralZima commented on #144
Hi everyone. Thank you for answers.
1. I am running from emmc
2. To run PrawnOS on C100P just add dtb to kernel.its. Copy and paste fdt section, and change dtb path to arch/arm/boot/dts/rk3288-veyron-minnie.dtb. Thats all needed to run PrawnOS on C100P

Everything else I'll test later and will report here. The battery is 100% ok, because I discharged it to 1% on luks prompt, and never discharged i

[2020-01-20 21:45] rk-zero commented on #144
Thanks for providing instructions @UralZima - i compiled with the modified fdt section, it wouldn't allow 2 ftd sections, though.

I used a c100p that was working with chromeos very fine with no problems and installed to internal emmc. The expand install from SD fails though (no idea why, mmcblk0/2 are the same in /dev)

Book boots PrawnOS fine, wifi is working fine.
Battery shows 32.2 Wh, 38 on c

[2020-01-21 03:05] UralZima commented on #144
@rk-zero, kernel.its allow many fdt sections, just need to define the default, and name them fdt@1, fdt@2, etc. I compiled a kernel that run both c201 and c100p. Look at arch's kernel.its, it contains all arm dtb.

I am using emmc only, because usb or sd after waking up from sleep - loose the filesystem access and say i/o error. same on arch.

I tried the cpu benchmarks with 'while true; do 7zr b;

[2020-01-21 07:35] rk-zero commented on #144
@UralZima Thanks for the additional help, we should sureley enable kernel building for both (@SolidHal ahem).

I kept the book running over night and played some youtube videos in the evening. The book was off this morning with depleted battery. syslog shows nothing unusual until 6 in the morning, then i guess the book just shut down. I don't know where to look if it shutted down planned because o

[2020-01-21 08:17] rk-zero commented on #144
http://kmkeen.com/c100p-tweaks/ is REALLY helpful.

I compiled ectool from coreboot to play around with the charging current as i bought a usb boost adapter last year so i can charge the book on traveling from a 20wh usb solar power bank. This may sound stupid, but i carry that anyway and can pack a small usb charger that way (-400g in the backpack matters). It didn't charge, maybe i can get it to

[2020-02-06 01:15] goin2mars commented on #100
Hey could you please do this? I really don't want to buy a third one of these, yet. I'm guessing I disabled external booting by turning off developer mode and now I've also gone and broken the OS on the thing so here I sit, wishing I could have some possible way to run crossystem because apparently local compilation fails quite readily also.

[2020-02-06 11:15] rk-zero commented on #100
Yeah, no problem.

find the zip here: [(https://dec.k-ze.ro/chrome/chromeos_10452.96.0_veyron-speedy_recovery_stable-channel_speedy-mp-v3.rootstripped.zip)]

unzip the file to /mnt/sd/chromeosroot f.e. and cd into it.

To add to that, for mounting proc, the correct command order is:

mount -t proc proc proc/
mount --rbind /sys sys/
mount --rbind /dev dev/
mount --rbind /run run/

chroot .

Tried i

[2020-02-08 06:37] rk-zero opened #145 "Qt Applications broken - libEGL warning: DRI2: failed to authenticate Segmentation fault"
Maybe this is due to panfrost, but i cannot get any qt apps to work in latest prawn.

vlc, qmmp and most importantly my irc client quassel won't work.

I tried any tips around symlinking libs, but nothing worked so far.

Any ideas?

Thanks in advance,

r

[2020-02-08 18:13] rk-zero commented on #145
well turns out it's fixed in latest unstable libqt5 5.11.3

[2020-02-08 18:13] #145 closed

[2020-02-20 07:02] rk-zero commented on #99
qt applications or vlc not working (segfault) is fixed with a dist-upgrade in latest prawn.

Afterwards, you will need to recompile panfrost, or else X will crash on startup.

[Xorg.0.log](https://github.com/SolidHal/PrawnOS/files/4229262/Xorg.0.log)

[2020-02-21 05:35] rk-zero commented on #99
https://github.com/SolidHal/PrawnOS/blob/e77951d76ae39cb08d6b50b0de0817bac688b8fb/scripts/InstallScripts/CompilePanfrost.sh#L9
[code]

is not needed anymore and results in segfault libEGL_mesa.so.1

[2020-02-21 06:03] SolidHal opened #146 "Dmesg doesn't silence during decrypting"
dmesg -D before decrypt isn't working. Try `dmesg -n 1`?

[2020-02-22 19:36] Maccraft123 commented on #100
Fetch coreboot repo and compile nvramtool.

[2020-02-26 04:55] SolidHal commented on #146
#147 includes a commit that fixes this

[2020-02-26 04:56] SolidHal commented on #133
Closing, conclusion has been reached.

[2020-02-26 04:56] #133 closed

[2020-02-26 04:57] SolidHal commented on #130
see #133 for sd vs emmc read write performance

[2020-02-26 04:57] #130 closed

[2020-02-26 04:57] SolidHal commented on #130
closing. Feel free to reopen for additional discussion

[2020-02-26 04:59] SolidHal commented on #144
Closing as issue seems to be resolved. Feel free to reopen for additional discussion

[2020-02-26 04:59] #144 closed

[2020-02-26 07:03] rk-zero commented on #146
i think dmesg -n 1 is too hard (only kernel panics). with -n 2 it at least acks if you put a new usb device in f. e.

But it works, so you can just use -n.

https://linuxconfig.org/introduction-to-the-linux-kernel-log-levels

Please consult /proc/sys/kernel/printk for the normal log level used. i set it to 7, but it seems normal is 4, so i don't know.

[2020-02-28 09:16] rk-zero commented on #99
Still segfaults. Trace:

[code]

I don't know enough about C to debug this. Fix is always to rerun CompilePanfrost.sh - but that takes half an hour.

[2020-03-06 01:39] #146 closed

[2020-03-06 18:51] rk-zero opened #149 "c100p support"
I try to port the [c100p scripts from kmkeen](https://github.com/keenerd/c100p-tweaks/blob/master/c100p.tablet-mode.c) to work with prawnOS.
To do so, i modded the kernel config, see my latest commits.

CONFIG_IIO_CROS_EC_SENSORS=y // not set in original config
CONFIG_IIO_CROS_EC_SENSORS_LID_ANGLE=y

Afterwards the c100p accel is accessible correctly:

./devices/platform/ff110000.spi/spi_master/sp

[2020-03-31 05:30] SolidHal commented on #100
Added script to build mosys, libfmap from source which make crossystem fully functional. See commit fc1deb4796f71454e944a6c422e8613c1303b506

Find the crossystem section on the readme for more info.

[2020-03-31 05:30] #100 closed

[2020-03-31 05:34] SolidHal commented on #100
Also, I'm moving the build and installation of mosys/crossystem into buildFilesystem.sh but that script will provide what you need on existing builds.

[2020-03-31 05:35] rk-zero commented on #100
That's great work, thanks much!

[2020-04-01 06:16] SolidHal commented on #100
As of d520bd5754209b481287c54095d1896bbf5a0ca5 crosystem and mosys are now built into the PrawnOS filesystem! I am leaving the separate build script in scripts/InstallScripts for now for those on older build and for other distributions to leverage.

[2020-04-03 12:11] filberg opened #150 "Automate builds with CD-CI or build server"
It would be nice to have a CD/CI infrastructure in place, to keep tracking the latest linux-libre upstream kernel, without having to manually launch new builds each time a new version is available.

I would be available for maintaining such an infrastructure, if the project is willing to take that path. Unfortunately, I'm totally ignorant in the field of CD/CI, build servers _et similia_; yet, I'm

[2020-04-03 16:15] rk-zero commented on #123
i updated the xkb files to include a (somewhat) german layout mapping for gb and us layouts.
i noticed the files in prawn durrently miss support for the c100p volume rocker (VLR+/- instead of VOL) and the "chromebook" file in keycodes - if your arrow keys dont work - that may be the issue.

ill test my patches further, then try my hands at a PR again.

[2020-04-03 16:28] rk-zero commented on #150
CI makes sense if there are multiple commits a day from several developers.
If you can set up an automated clone of the repo and just push a new image after changes that would be it. CD only makes sense if you have hardware to test the image on, qemu or similiar wont complain much i guess.

uptodate linux-libre integration can be done via git submodules - i may try that in my fork.

[2020-04-03 16:59] filberg commented on #150
Ok, got it.. thanks for clarifying!

I blatantly misjudged the scope and application of CD/CI, it seems..
Always good to learn, even by publicly putting myself to shame :smile:

This is something I'm interested in, but I'd like the whole system to be tightly integrated with the official project release cycle; thus I'd like to discuss how I could put up such an infrastructure so that it's easily le

[2020-04-03 17:10] rk-zero commented on #150
Its not a shame, for projects like openwrt or an app the tools are way more complicated, just not really needed here. I have no idea about CI/CD either, but thats essentially what they do. 1 maintainer and 1 target in hardware is easily tested by just building it after a change.

A simple script to update the submodule, main tree and try to build an image every night would do the job.

[2020-04-03 23:10] SolidHal commented on #150
I have thought about doing this, but a few things have kept me from automating kernel updating and building.
1) I usually tweak the config options a bit when new kernel config options are added or moved. I would be hesitant to automate that process as sometimes the default is incorrect for this platform. Specifically I remember a time where they moved the ec driver in the kernel to a new config op

[2020-04-03 23:12] SolidHal commented on #123
Arrow keys seem perfectly funcitonal on my devices. Looking forward to your PR with c100p support!

[2020-04-04 13:37] rk-zero commented on #130
I sent one c201p and some c100p to maintainers of libreboot. The errors in the first sectors are due to locking of the emmc in coreboot, so changing the emmc wont have any effect.
If a better libreboot comes along those errors will be gone, so further tries to fix it in userspace wont really make sense.

[2020-04-04 19:28] SolidHal commented on #130
I figured. I imagine coreboot did it for a reason though. Likely a hack to get around issues with the emmc hardware or how the arm cpu expects to interface with the emmc. Thanks for sending them machines! I'm working on getting my hands on a c100p myself.

[2020-04-21 12:40] firstbass commented on #99
Hey @rk-zero, I've been looking into the `CompilePanfrost.sh` script here over the past few hours. It looks like it works well initially, but whenever any `dpkg` post install `libc-bin` triggers get called, any links to the custom installation gets overwritten. There are ways around this issue (one of which is reinstalling our custom installation via the script), but really, I think it's mostly a

[2020-04-21 12:46] rk-zero commented on #99
@firstbass unnnnh, thanks so much for figuring that one out, i was pulling my hair out why i always had to reinstall them after some package updates.

[2020-04-22 13:43] filberg commented on #52
I've been recently trying to come up with some ideas to automate the kernel upgrade and make it more convenient for a non-technical user.

These are the 2 basic approaches I've been reasoning on:

1- Do The Right Thing and learn how to properly package a kernel deb to be hosted somewhere (I have some hosting available if needed) on a deb repo, and configure apt so that kernel upgrades use that spe

[2020-04-23 10:14] firstbass commented on #99
Made some time to test from a fresh install via `InstallPrawnOS.sh`.

Results: For right this moment, I recommend using unstable instead of testing. The packages in testing technically work, but some GTK applications will hang the system, including the default graphical login. This is resolved in later versions of panfrost, and  what is currently in unstable (20.0.4) works just fine.

Process: I e

[2020-04-23 10:29] rk-zero commented on #99
with 20.0.4 openarena should be working.
If the unstable packages work, you can adjust scripts/buildFilesystem.sh and a this line to include them in the image:
`chroot $outmnt apt-get install -y -t unstable -d libegl-mesa0 libegl1-mesa libgdm1 libgl1-mesa-dri libglapi-mesa libglu1-mesa libglx-mesa0`
and mess with the InstallPrawn.sh to have them installed without the need of a network connection b

[2020-04-25 17:52] filberg opened #152 "Add support for upgrading kernel on a live system"
I've initially commented on #52 but I'm not sure if it was the right place, since the ticket is closed, so I'm bumping the discussion here (feel free to close this one if you prefer to re-open #52):

Needless to say, this is for sure the best approach in terms of maintainability and possible "upstreamability", but it has a higher learning curve for me.

Just for having something to begin with, I'v

[2020-04-26 19:45] SolidHal commented on #152
I agree that having a proper package would be nice. I actually have dreams of providing an apt repo with the kernel, install scripts, and system config but have gotten stuck on finding a place to host it. I'll always accept PRs that improve on the current offering, and having some more-automated way to update the kernel is definitely an improvement :)

[2020-04-27 00:38] cvmiller opened #153 "Wake from Sleep - results in EXT4-FS inode errors, system must be power cycled"
Using version 1.0.3 booted from USB stick on an Asus C201P

After closing the lid, counting to 10, reopening, noted that the X display often doesn't return, and there are repeating EXT4-FS error messages. The FS is disconnected, and no app can be run from the FS (e.g. ls, or dmesg).

Only recovery seems to be power cycle the Chromebook. When booted again, dmesg reports that the broken inodes have

[2020-04-28 01:02] SolidHal commented on #153
This is likely due to usb power saving during sleep, and would occur when booted from an SD card as well. This doesn't happen when you are booting from the internal emmc.
There might be a way to tweak what power mode it puts the usb ports in when the kernel enters sleep, so I'll leave this open

[2020-04-28 20:43] cvmiller commented on #153
Thanks for looking into if the Kernel can support this.

[2020-04-30 01:41] gdallasdye commented on #152
I've been giving this some thought as well. My main concern about having apt manage the kernel as it is, is that the scripts for the Debian kernel expect to output the compiled kernel to a file, in a folder, with all the luxuries of a filesystem. Adding support to those scripts to detect which device to use and hopefully writing to the write one seems like it could be problematic. And as for why,

[2020-04-30 16:14] rk-zero commented on #152
[arch does it already](https://github.com/archlinuxarm/PKGBUILDs/blob/master/core/linux-armv7/linux-armv7-chromebook.install)

(thanks to swiftgeek for the wisdom)

[2020-05-01 17:19] filberg commented on #152
Yes, that's where I got the initial hint from (actually, I referred to the parabola [linux-libre-chromebook](https://www.parabola.nu/packages/libre/armv7h/linux-libre-chromebook/) package, that uses the same concept).

I also dropped the idea of doing the actual flashing in initramfs, as it's overly complicated; as per the parabola/arch rationale, the kernel image can be flashed directly on a live

[2020-05-01 17:26] filberg commented on #152
I can provide you with FTP hosting space on my personal website, if that can help.
After all, you would still be able to sign official kernel releases with a trusted key of yours, so it shouldn't matter if upgrades are fetched from a "non-official" url..

A PR is coming soon, definitely.
I'm also working on a set of scripts to automate kernel builds whenever a new linux-libre version is released.

[2020-05-07 00:47] SolidHal commented on #152
Staying tuned!

I've been rolling around the idea of automated testing/building and I think I have got a reasonable approach to the automated testing portion now that we can use crosystem/mosys to change the target boot device without user intervention, so additions to automated building/kernel updates fall in line with that.

I think I'll start with getting an apt repo up on my personal site, and

[2020-05-12 17:51] cvmiller opened #155 "Kernel Header files not in /root/PrawnOS/... Unable to build kernel modules"
Bought a RTL822x2B Wifi Dongle. Found open source driver at:
https://github.com/RinCat/RTL88x2BU-Linux-Driver

But unable to build kernel modules, make fails with:
[code]
When looking at the build directory it is a sym-link to:
[code]
Which doesn't exist. Since this kernel is not part of the Debian system, apt can't find kernel headers for it.

**Request:** Kernel headers for kernel being used in

[2020-05-12 20:50] tehbra1n commented on #155
This isn't my area of expertise, but I'm not certain this driver works without a proprietary firmware blob.  I believe PrawnOS is avoiding firmware blobs since there is no real way to tell what that firmware enables.  I see [this thread](https://forums.puri.sm/t/a-route-to-better-wifi-performance-with-realtek-rtl88x2bu-chips/9225) discussing this WiFi card from a few days ago on a similar project.

[2020-05-12 21:58] rk-zero commented on #155
you can get the header files while compiling the kernel yourself, just take the [config](https://github.com/SolidHal/PrawnOS/blob/master/resources/BuildResources/config) supplied by PrawnOS

https://unix.stackexchange.com/questions/270123/how-to-create-usr-src-linux-headers-version-files

plus one to have this supplied for stuff like xpadneo though.

[2020-05-13 15:08] cvmiller commented on #155
I appreciate the pure open source stance that PrawnOS has taken. However, since there is a custom kernel supplied, it would be nice to include the kernel header files included, so others can compile kernel modules without having to recreate the entire kernel.

Please add the kernel header files to this git repo,

[2020-05-13 15:25] rk-zero commented on #155
That is the scope of the project. I told you how to do your user case, but contributing to a more mainstream approach is possible here: https://github.com/SolidHal/PrawnOS/issues/152

You can buy a plethora of working wireless adapters that will work without hassle under 10$. Look into TP-Link TL-WN722N v1.

[2020-05-14 03:43] austin987 opened #157 "submodules aren't documented/configured correctly"
The readme doesn't mention submodules. If one clones the repo:
[code]

then tries to commit, there's an error:
[code]

There's no `.gitmodules` file checked in, which I suspect is part/the root of the issue (I'm versed in git, but never dealt much with submodules).

[2020-05-15 03:21] gregordinary opened #159 "4k Resolution Support"
According to its datasheet [(PDF)](http://opensource.rock-chips.com/images/4/4e/Rockchip_RK3288_Datasheet_V2.2-20170301.pdf), the RK3288 should support screen resolutions up to 3840 x 2160. I did a small amount of testing in the [Panfrost thread](https://github.com/SolidHal/PrawnOS/issues/99#issuecomment-533547077), but ultimately could not get 4k to show up or work on PrawnOS.

My current xrandr

[2020-05-17 06:15] gregordinary commented on #159
Winged it and tried the patches from the Armbian thread and the display settings now show options for 3840x2160 and 2560x1440.

1440p works but I cannot get 4k to work correctly, presumably because I'm on HDMI 2.0 and don't have a way to force HDMI 1.4, which is what got 4k@30hz working in the Armbian thread.

1440p is a little jittery but not slow, with and without panfrost when moving windows ar

[2020-05-17 10:15] gregordinary commented on #6
On the most recent PrawnOS release, output of `aplay -l` is:
[code]
I tried patching rk3288-veyron-speedy.dts with the suggestion above but did not get a different result.

I did find a couple things of interest:

1. [This patch](https://lkml.org/lkml/2019/10/28/62) was added to kernel 5.5.

2.  [CONFIG_SND_SOC_RK3288_HDMI_ANALOG](https://cateee.net/lkddb/web-lkddb/SND_SOC_RK3288_HDMI_ANALOG.html)

[2020-05-18 22:40] SolidHal commented on #6
Thanks for digging into this @gregordinary. Its not clear to me yet what the issue might be, or when I'll have a chance to dig into this myself

[2020-05-18 22:42] SolidHal commented on #159
This is awesome! I'll look into including those patches.  How does one force HDMI 1.4?

[2020-05-18 23:02] rk-zero commented on #159
from the armbian thread i would guess he uses a dual-link dvi to hdmi adapter.

[2020-05-18 23:07] gregordinary commented on #159
Yeah, seems to be some type of adapter. Was just looking into it and found this downconverter: https://www.amazon.com/dp/B06XC7VLFV/

Though ultimately the rk3288 has HDMI 2.0 and should be able to do 4k@30Hz without an adapter. Sounds like something with the frequency ranges,  but I don't quite understand the details on what's blocking it from working without changing HDMI modes.

[2020-05-18 23:16] rk-zero commented on #159
https://github.com/armbian/build/pull/1887#issuecomment-626241512

So i guess its just a couple of days away from working with 2.0

[2020-05-18 23:28] rk-zero commented on #150
lol

[2020-05-18 23:30] SolidHal commented on #155
@cvmiller Please remember that everyone here is just working on things they want to in their limited free time :)

I am working on getting all parts of PrawnOS packaged as debs and hosted on a PrawnOS APT repo. I have the repo up and running, so now the work is re-doing all of the build process to build debs instead of just throwing the files in the right places.
When I package the kernel, which w

[2020-05-19 01:39] cvmiller commented on #155
@SolidHal Thanks for all that you have done, and are doing.

It will be great to have the parts of PrawnOS hosted as debs.

I pulled a 5.4.23 kernel, and have made it, but have had no luck building the wireless driver (RealTek), as the linker fails with all sorts of errors. So I look forward to your deb packages.

[2020-05-19 22:28] #157 closed

[2020-05-20 06:35] austin987 opened #165 "Automate testing image with qemu"
Now that https://github.com/SolidHal/PrawnOS/pull/161 is merged, builds are automated with github actions. This is a followup to #150

However, the image itself isn't actually tested (other than building). Ideally, we'd use qemu (maybe in conjunction with `expect` https://linux.die.net/man/1/expect) to attempt to boot/install the image.

I'm familiar with qemu, but never used it for arm stuff, so

[2020-05-20 06:35] austin987 commented on #165
Feel free to assign this to me if you'd like, I don't have permission for that.

[2020-05-20 06:36] austin987 commented on #150
We now have automated builds with github actions, IMO this can be closed. I opened #165 to keep track of automated testing with qemu.

[2020-05-20 07:17] gregordinary opened #166 "Enable CONFIG_VIDEO_HANTRO for VPU Support"
The RK3288 is equipped with a full Hantro G1 Video Decoder.

**Request**: Enable [CONFIG_VIDEO_HANTRO](https://cateee.net/lkddb/web-lkddb/VIDEO_HANTRO.html) in the kernel config.

Result should be:
[code]

From: https://lkml.org/lkml/2019/5/12/224

Potential format support [based on VPU capabilities](https://web.archive.org/web/20190322103810/http://www.verisilicon.com/IPPortfolio_14_58_2_HantroG1

[2020-05-20 07:31] gregordinary commented on #166
Looks like there is a LIBVA branch to support H264 decoding through the new kernel interface:
https://github.com/pH5/libva/tree/hantro-h264
https://github.com/bootlin/libva-v4l2-request/pull/26

[2020-05-21 11:54] gdallasdye commented on #99
Hi Everybody!

I've been testing with integrating the unstable mesa packages. Does anyone else here build PrawnOS on their veyron boards with panfrost? I do, and after a while, about a few days before Debian did their 10.4 release, I started having cmake problems, like documented in [this picture.](https://github.com/gdallasdye/PrawnOS/blob/pictures-documentation/pics/Screenshot%20from%202020-05-1

[2020-05-21 11:59] rk-zero commented on #99
This issue is mainly considered solved as you can just grab latest mesa and be done with it.
I compiled panfrost on my chromebooks myself, but yes, you need to reinstall it after other apt upgrades because some libs get overwritten.

[2020-05-21 12:01] rk-zero commented on #99
The issues in building the openath9k firmware are not related afaik. If you encounter problems there you can manually issue make firmware for the firmware and continue main prawnos build afterwards.

[2020-05-21 12:18] gdallasdye commented on #99
Clarification on the openath9k issue, it happens after installing mesa from unstable, and is also fixed by installing more packages from unstable. I never did do it manually, just automatically or fail.

[2020-05-22 23:41] SolidHal commented on #165
Thanks for taking this on @austin987!

[2020-05-23 09:45] austin987 opened #169 "Installing to a USB device doesn't work"
While testing some more intensive changes, I noticed that installing from a USB device (/dev/sda, installed via dd from x86_64 linux) to another USB device (/dev/sdb, via PrawnOS-1.0.3) take a while (fair enough), but then fails to boot. Pressing 'CTRL+U', beeps, then returns to the white unlocked warning boot screen.

Tried two different USB devices to be sure. For both devices, installing FROM a

[2020-05-23 09:48] rk-zero commented on #169
pls post output of

`cpgt show /dev/sda` and/or `cpgt show /dev/sdb`

beep and reboot is usually issue that depthcharge does not find the kernel, maybe diff both first partitions to see if the kernel was written correctly (should be 1:1 same)

[2020-05-23 09:58] austin987 opened #170 "dhclient doesn't automtatically run for usb ethernet"
Haven't investigated this, may later, it's late here.

Something I noticed that wasn't documented. IMO, should be documented and/or fixed, probably both. README.md mentions running dhclient for wifi, but not eth0.

Installing a desktop requires internet (I have a PR to mention this coming), but, at least for me, it doesn't get a DHCP address with me intervening. While it makes some sense to not jo

[2020-05-23 10:23] austin987 commented on #165
Some notes for myself or anyone interested:
https://stackoverflow.com/questions/37079990/is-any-arm-platform-emulation-in-qemu-functional-enough-to-run-arm-v7-code-in-mu
https://gist.github.com/luk6xff/9f8d2520530a823944355e59343eadc1
https://blog.3mdeb.com/2014/2014-08-07-coreboot-for-qemu-armv7-vexpress-a9-emulated-mainboard/

[2020-05-23 13:50] gregordinary commented on #170
I agree, @austin987 . Lately I've been using a USB-ethernet adapter for my testing and have been just doing a quick edit of /etc/network/interface to add:

[code]
I'd advocate for USB-Ethernet working by default. Though, another approach could be to work Network Config into the install script and ask the user if they want to enable and configure Ethernet and/or WiFi. This could be right at the sta

[2020-05-23 17:12] gdallasdye commented on #159
Would you mind providing the ls output of your patches directory. I git cloned the @Miouyouyou repo, and I'm looking at the thread's PR, and I'm still trying to figure out if I need 1 or 4 or 14 of the patch files...

I already got my kernel config set to enable the staging hantro driver, but is it safe to assume those patches are needed for the kconfig to be effective?

[2020-05-23 19:53] Miouyouyou commented on #159
The patches you're looking for are these ones :

https://raw.githubusercontent.com/Miouyouyou/RockMyy/master/patches/kernel/v5.7/0005-drm-rockchip-vop-filter-modes-outside-0.5-pixel-cloc.patch
https://raw.githubusercontent.com/Miouyouyou/RockMyy/master/patches/kernel/v5.7/0006-drm-rockchip-dw_hdmi-Set-cur_ctr-to-0-always.patch
https://raw.githubusercontent.com/Miouyouyou/RockMyy/master/patches/ker

[2020-05-23 20:12] gregordinary commented on #159
@gdallasdye When I first attempted, I just applied all the patches as a "Why not just try it?" type approach. Figured if it worked I'd take a deeper dive and isolate which were specifically needed.

Luckily, Miouyouyou has provided the specific list above, along with some updated patches.

@Miouyouyou - Thanks so much for your work on this!

I tried your consolidated patches on a fresh PrawnOS bui

[2020-05-23 20:18] Miouyouyou commented on #159
@gregordinary You're welcome ! All the work is from @Kwiboo and @czak though.

Does that mean that :

* you tried the first patches and it worked, then you tried the reworked patches and it didn't work ?
* OR you tried the first ones and they didn't work ?

I have a hidden noisy patch that displays all the resolutions scanned and why they got ignored. If you can try it and provide the dmesg, this

[2020-05-23 20:25] gregordinary commented on #159
@Miouyouyou - I tried both.

The original patch set worked, through 1440x2160. The 4k resolution got a blank screen, and I didn't have an adapter available at the time to try different HDMI versions.

Screen is 60hz. I tried w/ 60, 59, 30, and 25hz, where available.

I'll retry the updated patches along w/ the noisy patch and send the dmesg over.

[2020-05-24 02:54] austin987 commented on #170
IMO offering to configure makes sense for wifi, though that would take a non-trivial amount of work to script/polish it. I think that should be it's own feature request though.

[2020-05-24 03:46] austin987 commented on #169
/dev/sda = good
/dev/sdb = bad

[code]

Unfortunately, the diff is _huge_:
[code]

The kernel itself compresses pretty well:
[code]

Thanks for the cgpt tip, I'll try debugging some more on the host itself.

[2020-05-24 03:46] austin987 commented on #169
[bad-kernel.gz](https://github.com/SolidHal/PrawnOS/files/4672924/bad-kernel.gz)

[2020-05-24 08:22] rk-zero commented on #169
The bad-kernel is just empty, if that was the joke, i had a good laugh.

[2020-05-24 19:28] SolidHal commented on #169
It looks to me like the usb install process isn't copying the kernel to the new use device properly.
I'm going to test out the script and see if I can recreate your results.
Are you choosing encryption?
have you tried another target usb device?

[2020-05-24 19:33] SolidHal commented on #99
If I understand this correctly, Panfrost functionality requires a newer version of mesa, which requires some newer libraries only available in unstable?

[2020-05-24 19:38] #150 closed

[2020-05-24 19:40] SolidHal commented on #166
Thanks for the detailed request! I'll get those kernel options enabled.

[2020-05-24 19:42] SolidHal opened #172 "#171 implies that offline install of xfce/lxqt is broken"

[2020-05-24 19:42] SolidHal commented on #172
#171

[2020-05-24 19:49] SolidHal opened #173 "Filesystem image build fails when installing xsecurelock"
[code]

[2020-05-24 20:03] SolidHal commented on #170
I agree that ethernet should "just work" when plugged in. I'll make those changes @gregordinary  mentioned a part of the install process

As you mentioned @austin987 wifi config is more complicated, but tools to configure it are already included.
(and installation of a DE should NOT require an internet connection, see #172)

[2020-05-24 20:51] gregordinary commented on #159
@Miouyouyou - I tried another build, oddly, this time I'm only getting options for resolutions up to 1920x1080 for the external display. Could very likely be something on my side. I'm going to try building again on my main computer, currently running Ubuntu 20.04; that's what I used for previous builds as well. I'll also try building this in a Debian VM / Remote Server just to see if I'm getting o

[2020-05-24 21:34] SolidHal commented on #173
@austin987 I see this even in the builds that are passing right now
https://pipelines.actions.githubusercontent.com/KJs3rCmQkYdsgrZCXv53kj04Pw5UmLmhjEXoChGwTycmxGMbxP/_apis/pipelines/1/runs/5/signedlogcontent/3?urlExpires=2020-05-24T21%3A34%3A32.8309007Z&urlSigningMethod=HMACV1&urlSignature=sAN7eTYXCHb2wT9lkXlp0Y%2Bs7tnaWLcfSvsril53VTo%3D

[2020-05-24 23:01] #173 closed

[2020-05-24 23:02] SolidHal opened #174 "CI build isn't catching filesystem build errors"
See https://github.com/SolidHal/PrawnOS/issues/173#issuecomment-633304385
and #173 in general

@austin987

[2020-05-24 23:05] SolidHal commented on #172
Just tested offline install of xfce, worked just fine. I'm guessing the failures were seen due to #173

[2020-05-24 23:05] #172 closed

[2020-05-24 23:48] austin987 commented on #169
Looks like the joke is on me; looks like a hardware issue. I noticed that if a usb drive is bumped, the computer may shutdown.

I recently replaced the keyboard, suspect I may have pinched a wire or something, need to tear down/reassemble.

That said, I put the computer on a table and tested, usb -> usb is fine (sha1sum matches).

Sorry for the noise.

[2020-05-24 23:48] #169 closed

[2020-05-25 00:49] gregordinary commented on #159
@Miouyouyou - Successful build with patches this time. Current output of xrandr:
[code]

As with the original patches, I can use the displays up through 2560x1440 but 4k60 produces a blank screen and 4k30 produces an odd display with only a portion of the screen used. See: https://i.imgur.com/F0UFQqI.jpg

Same behavior on two different 4k monitors, one LG and one ViewSonic. In any case, patches se

[2020-05-25 11:42] Miouyouyou commented on #159
The 4K behaviour seems indeed weird.
Does it do the same inside a console ? Or only through X11 ?

This tiled behaviour is the same with all the 4K frequencies below 30Hz ?
If you try 1080p at 30Hz, is it working correctly ?

[2020-05-25 14:48] gregordinary commented on #159
Having varied results depending on the monitor. The LG is a 60Hz monitor and the ViewSonic is 120Hz capable.

On the LG, 1920x1080 displays fine with refresh rates of 24, 25, 30, 59.9, and 60.

On the ViewSonic, I observe the following:
[code]
I tried with two different adapters. One micro HDMI cable and one standard HDMI cable with a micro HDMI adapter. Behavior was essentially the same on both,

[2020-05-25 18:47] gdallasdye commented on #159
4K@30FPS works fine for me. My 4K TV allows me to set either HDMI 1.4 or 2.0 modes per input. Testing mostly with Gnome and Wayland/Xwayland. I also have an ultrawide monitor running at 2560x1080@60FPS. I took some screenshots [and posted them here.](https://github.com/gdallasdye/PrawnOS/tree/pictures-documentation/4k-patchset-screenshots) Those screenshots were taken with the reworked patchset.

[2020-05-25 20:49] #174 closed

[2020-05-26 01:04] gdallasdye commented on #173
Hi. I believe libc6-dev may be striking again. I've seen libgtk3-perl, libpeas and gir1.2 before, and they were contributing factors in my removing libc6-dev from my test builds a couple of weeks ago. I got [this build fail alert a while ago,](https://github.com/gdallasdye/PrawnOS/runs/707619514) and the failure at the end sure looks familiar.

Would removing libc6-dev again be worth it?

[2020-05-26 11:09] Miouyouyou commented on #159
Interesting bug... Does the tile seems to be roughly the same size ? I mean, the ratio is changing, but does switching to 4K@30Hz after a resolution of 1152x864 leads to a 1152x864 tile or something wider ?

Maybe it's trying to get to 4K@60Hz and fails. I don't how to force the DRM driver resolution of a specific screen. I guess I should try to modify some DRM-KMS OpenGL example, to use it with a

[2020-05-28 08:24] austin987 opened #177 "build is broken"
From https://github.com/SolidHal/PrawnOS/actions, looks like this was introduced in 93192fa5117adb15e456c856d27bac911877a435.
[code]

[2020-05-28 16:08] gdallasdye commented on #173
Some thoughts on mosys: when building mosys, we grab in packages packages from unstable. This later breaks downloading packages later. If we move mosys build towards the end after we download packages, we run out of room to build.

I've tried moving the building of mosys into it's own chroot, to avoid mangling the package manager and avoid running out of space. It's a little outside my skillset at

[2020-06-02 08:02] austin987 commented on #177
FYI @gdallasdye

[2020-06-03 21:24] austin987 commented on #177
Not interested in playing the blame game either, just want to see it working again :).

I CC'ed you mostly because gnome is when things _started_ failing, see https://github.com/SolidHal/PrawnOS/actions. With 9522627 (adding chromium), the image built. The next push was adding 93192fa  (adding gnome), which is when things broke.

Anyway, looks like @SolidHal committed some fixes (though things sta

[2020-06-03 21:24] #177 closed

[2020-06-05 11:07] austin987 commented on #165
https://github.com/lukechilds/dockerpi has a dockerfile that runs a armv6 image inside of qemu.

It supports armv7 as well, but apparently networking doesn't work yet :( https://github.com/lukechilds/dockerpi/pull/4. Though in a quick test, networking doesn't work for me in armv6 mode either.

Anyway, still useful.

[2020-06-09 02:13] SolidHal commented on #177
Yeah, there were and are some issues with grabbing packages across debian suites. Hope to fix it all by packaging the items PrawnOS takes from bullseye and sid

[2020-06-09 02:14] SolidHal commented on #173
@gdallasdye You are right that grabbing the build reqs from unstable breaks things. I'm working on getting mosys built/packaged in a cleaner way :)

[2020-06-12 17:06] gdallasdye opened #181 "[RFC] Other Filesystem Support"
I'm wondering if we can work in support for the xfs filesystem? I'm filing this as an issue, since there are multiple ways we we can do it, each one building on the last:

1. Kconfig changes. Adds read write support for the filesystem. Select all options except the debugging stuff. Remember to build it in and not as a module.
2. The above plus changing reference in fstab from 'ext4' to 'auto'.
3.

[2020-06-12 23:47] SolidHal commented on #181
I don't see any reason against 1-3, besides in an attempt to keep the kernel small.
I don't think adding the xfs driver will be too much of a negative impact on size though :)

Out of curiosity, whats the advantage of xfs on a low powered system like this?

[2020-06-13 07:24] JeremyRand opened #182 "Links to PrawnOS website are missing TLS"
The links to the PrawnOS website (both in the GitHub repo metadata and the source code) point to `http://www.prawnos.com`; this should be changed to `https://www.prawnos.com` to enable TLS.

[2020-06-13 19:50] gdallasdye commented on #181
I'm not sure of the technical advantage, although I have read that xfs can outperform in some circumstances at the same threadcount.

It's also interesting because it was not originally developed for linux or arm/x86 (made for IRIX on mips chips) so both of those non-nativenesses could make it an reliable fallback option in case a future revision of extfs has some controversial change. Also has po

[2020-06-14 19:13] SolidHal commented on #182
both redirect to the github page at this point, which enforces TLS/SSL, so the links are not really wrong. If, in the future, the links point somewhere else like a full PrawnOS webpage, ssl will be enabled/enforced there as well, redirecting the http links to https.

Unless I'm misunderstanding something?

[2020-06-15 21:23] austin987 commented on #182
While it usually works, it depends on the website to keep the redirect working, and some plugins/etc. may not handle it well (I've seen that happen on other sites, but not github).

IMO it make sense to be explicit and advertise https everywhere it's supported. That's particularly important for a project that advertises security ;).

[2020-06-19 17:30] SolidHal opened #185 "Commits failing CI due to github CI networking errors"
I have seen several commits fail testing. These failure to fetch due to "undertermined error"s
[code]
We should probably bake some error handling for this into the CI script

[2020-06-19 21:07] #182 closed

[2020-06-20 13:34] JeremyRand commented on #182
@SolidHal That's not how it works; relying on an HTTP to HTTPS redirect makes you vulnerable to sslstrip attacks.

The repo metadata still links to HTTP, can that be fixed?

[2020-06-20 13:39] JeremyRand opened #186 "Move PrawnOS deb repo to sources.list.d"
Would a PR be accepted that moves the `https://deb.prawnos.com` repo from `sources.list` to `sources.list.d/prawnos.list`?  This would make it easier for PrawnOS to interoperate with software that needs to modify `sources.list` such as Kicksecure.

[2020-06-20 15:20] rk-zero commented on #186
+1 on this, way cleaner solution.

[2020-06-20 18:51] SolidHal commented on #182
I think I changed what you were asking?

TIL about sslstrip, thats clever.

[2020-06-20 18:56] SolidHal commented on #186
Yeah, that would be accepted.

[2020-06-20 19:37] JeremyRand commented on #186
Okay cool, I'll work on a PR for it shortly.

[2020-06-20 19:39] JeremyRand commented on #182
Yep, metadata is fixed now, thanks!  :)

[2020-06-21 01:00] austin987 commented on #185
Which build was this?

[2020-06-21 03:50] SolidHal commented on #185
Unfortunately it looks like the builds get removed when re-ran, which is annoying :/
So I can't link to the failures.

[2020-06-29 01:04] JeremyRand opened #188 "Consider Kicksecure"
[Kicksecure](https://www.whonix.org/wiki/Kicksecure) is a Debian derivative distro focused on security.  It's an offshoot of [Whonix](https://www.whonix.org/) (i.e. the Whonix features that are security-focused are now maintained as part of Kicksecure, with Whonix now being a Kicksecure derivative that adds the anonymity-focused features).  Kicksecure can be [installed](https://www.whonix.org/wiki

[2020-06-30 03:37] SolidHal commented on #188
I would have to look into the advantages kicksceure brings before considering the work of maintaining both a debian and kick secure release. Might be as simple to point the build system at a different sources.list

[2020-07-02 02:23] #186 closed

[2020-07-04 06:47] JeremyRand commented on #188
@SolidHal It's a *little* bit more complex than pointing at a different `sources.list`, because Kicksecure uses Debian's repos for most packages, and only adds some extra packages via the Kicksecure repo (not unlike how PrawnOS works).  One of the Kicksecure packages also tweaks the Debian `sources.list` to enable some extra security features (mostly related to TLS and Tor) that aren't in the defa

[2020-07-15 19:58] SolidHal opened #190 "Bring in c100p support and ec script"
https://github.com/rk-zero/PrawnOS/commit/9623dc25fea90e91574cbfdd194442d01362c940

[2020-07-18 02:08] SolidHal commented on #190
Looking for folks with a c100p to test out support

[2020-07-19 20:43] Maccraft123 commented on #190
I can test on my C100PA

[2020-07-19 21:33] SolidHal opened #191 "bring in fwup/mtd-util/flashrom support for flashing internal spi"
https://notabug.org/libreboot/libreboot/issues/714 has some relevant info

[2020-07-19 21:37] SolidHal commented on #191
[code]

[2020-07-19 21:39] SolidHal commented on #191
[code]

[2020-07-19 21:43] SolidHal commented on #191
updated flashrom from testing
`sudo apt install -t testing flashrom` and got better results with mtd:

[code]

[2020-07-24 21:57] SolidHal opened #193 "Package arm specific programs"
hantro enabled vdpau/vaapi decoder
mojoshader for running xna games
and maybe xonotic compiled for arm, mesa-git weekly build for panfrost improvements

[2020-07-31 21:47] Maccraft123 commented on #193
It should be noted that Terraria(and perhaps more XNA games) doesn't run with recent Mono version.

https://github.com/rfht/fnaify/issues/16
Rejected pull request to fix it: https://github.com/mono/corert/pull/33

[2020-08-04 04:00] SolidHal opened #195 "package and include cmt touchpad driver for x11"
linux touchpad experience is still less than great. chromiumos uses cmt, which offers a much nicer experience.

the porting work has already been done:

this issue from crouton documents their process: https://github.com/dnschneid/crouton/issues/244

[2020-08-04 04:39] SolidHal opened #196 "gru-kevin (and likely gru-bob) need a display port firmware"
on boot I see
[code]
this is due to the blob dptx.bin aka `Rockchip cdn DisplayPort controller firmware`

test if video out works anyway, if it doesn't we will need an open source version of the firmware.
commit that added the firmware to the kernel: https://lwn.net/Articles/700405/

[2020-08-04 04:59] SolidHal opened #197 "gru-bob emmc not accessible"
with current kernel config we are likely missing the proper emmc driver for gru-bob

[2020-08-05 09:40] rk-zero commented on #155
Sorry for the late answer. I reinstalled Prawn today with latest 5.4.55 kernel from @alexisgrey fork.

After make image, go to build/linux-version folder.
Run make headers_install. The header files are now located in build/linux-version/usr/include.
copy that whole directory to your local /usr/src/linux-5.4.55-gnu folder (create it).

That way you can install dkms and have all software that expect

[2020-08-06 11:32] Maccraft123 commented on #195
Did you test with libinput driver? In Wayland i'm getting better experience than in Xorg

[2020-08-08 06:45] SolidHal commented on #195
I have tried libinput on xorg, its actually the default for a prawnos install. Still is less than great unfortunately
I plan on including wayland support out of the box eventually, but would like to offer a decent experience on xorg as well

[2020-08-08 07:14] SolidHal commented on #188
@JeremyRand having it be a build time variable makes the most sense to me. If you throw some PRs my way, I might be interested in "officially" supporting a kickesecure based build once I play with it myself :)
Even if I'm not interested in "officially" supporting them, I'll definitely merge them in.

Adding a `DISTRO_BASE` envar that defaults to debian, but can be specified like the `TARGET` envar

[2020-08-09 19:04] SolidHal opened #202 "enable kvm options for armhf and arm64"
https://www.linux-kvm.org/page/Tuning_Kernel

[2020-08-09 19:53] Maccraft123 commented on #202
Due to ARM virtualization limitations, kernel has to be started in HYP mode.
http://www1.cs.columbia.edu/~nieh/pubs/asplos2014_kvmarm.pdf

[2020-08-10 21:30] Maccraft123 opened #203 "USB Gadget device support"
C100PA and C201PA both have OTG available for user,
so it shouldn't be that hard to use g_ether and plug it into OpenWRT router or other PC and use it as gateway.
Warning: M-M USB cables have 5v shorted on both ends, so it has to be disconnected before use or it will fry one or two ends
It requires DT changes.

Relevant links:
https://www.linuxsecrets.com/elinux-wiki/images/8/81/Useful_USB_Gadgets

[2020-08-12 05:54] Maccraft123 commented on #195
I haven't found Xorg to be fast recently, with different settings for fbdev and modesetting drivers

[2020-08-12 17:36] Maccraft123 commented on #193
Since Debian has good multiarch support, Box86 can be elevated to run traditional x86 programs like video games on arm hardware.
This requires armhf chroot on arm64 host and x86 libraries to be installed.
The Mali GPU is more than enough to run basic games, in my testing i found it to be as fast, if not faster than Intel GMA 4500M HD present on Montevina ThinkPads

[2020-08-12 19:37] SolidHal opened #205 "package screen rotation daemon"
https://github.com/Maccraft123/c100pa-daemon

[2020-08-20 20:26] gdallasdye opened #206 "Missing make kernel_config"
When running sudo make kernel_config, the script hooks that invoke kernel menuconfig are missing. I've tried adding it back, but I'm not quite sure how one file flows to the next anymore, so need to pass this on to someone else. Noticed this while testing kernels 5.6 and newer, in preparation for whatever may be the next longterm kernel.

[2020-08-20 21:10] Maccraft123 commented on #206
_bookmarks page_

[2020-08-21 21:34] SolidEva opened #207 "Add sid support to deb.prawnos.com"

[2020-08-21 21:36] SolidHal opened #208 "fix makefile target issues"
there are a couple of small mistakes in the makefiles after TARGET adds
namely clean_initramfs is initramfs_clean in the sub makefile
and pbuilder is not removed correctly, $(TARGET) subdir is missing

[2020-08-21 21:44] SolidEva opened #209 "Unmount /dev during cleanup of initramfs"
I believe we should be unmounting /dev before the switch_root call
I'm not sure if it was causing problems, so I didn't? Test out.

[2020-08-21 21:51] ghost opened #210 "kernel_inject seems to be missing from makefiles"
I might be missing something here but it looks like kernel_inject isn't present

[2020-08-21 22:09] #210 closed, assigned to nobody

[2020-08-25 18:51] satmandu commented on #195
FYI, I'm using ubuntu on pixel slate on xorg, with the xf86-input-cmt drivers and the evdevc and libgesture dependencies freshly compiled.

I don't seem to have two finger scrolling working, but otherwise the trackpad works better than in Wayland (since Wayland uses the plain old libinput driver.)

Xorg seems fast on this, but if any of you figure out a way to get two finger scrolling working...

[2020-08-28 01:18] Maccraft123 commented on #205
Screen rotation should work on GNOME without issues when iio-sensor-proxy systemd service is running.
On other DEs it would require something along the lines of https://github.com/Depau/sway-accel-rotate

[2020-08-28 21:16] Maccraft123 commented on #207
sid too

[2020-09-05 16:19] Maccraft123 commented on #166
I'll work on this for this week.

[2020-09-14 15:33] SolidHal opened #214 "usb autosuspend causes bluetooth to disconnect"
test a build of prawnos with "btusb.enable_autosuspend=n" on the cmdline and see if it fixes the issue

https://cateee.net/lkddb/web-lkddb/BT_HCIBTUSB_AUTOSUSPEND.html
https://cateee.net/lkddb/web-lkddb/USB_AUTOSUSPEND_DELAY.html

[2020-09-18 08:28] Anthony-Sensors commented on #99
I was wondering if Panfrost will be enable by default in the next release and if we are close to a next release, also what type of work is still needed to close this issue?

[2020-09-18 08:46] rk-zero commented on #99
You can switch to -testing systemwide or wait for panfrost to get into debian stable.
The 20.2 release has a big performance impact, so it's still a good idea to compile the latest version from scratch.

[2020-09-19 09:11] Maccraft123 opened #219 "/etc/selinux/targeted/policy/policy.31 missing from default install"
/etc/selinux/targeted/policy/policy.31 file is missing from default install, and it makes selinux write to tty, ignoring loglevel
This blocks https://github.com/SolidHal/PrawnOS/pull/215
A workaround was to disable it, but some people like to use it
@gdallasdye, maybe you know how to fix it?

[2020-09-19 14:25] gdallasdye commented on #219
If I remember correctly, the package policycoreutils should provide that file. Doing a quick build now, cloned from your branch, with policycoreutils added to the shared package-list under base_debs_install. For what it's worth, that package isn't provided with a default install of Debian on x86 either.

If that doesn't do it, it may be worth installing either setools-gui or policycoreutils-gui. O

[2020-09-19 17:52] Maccraft123 commented on #219
Thanks for help!
I know nothing about SELinux, so i'm leaving it up to you.
If you want to talk i'm macc24 on Freenode IRC.

[2020-09-19 17:56] gdallasdye commented on #219
This warrants a post instead of an edit. File '/etc/selinux/targeted/policy/policy.31' seems to be provided by package 'selinux-policy-targeted' that exists in either an Enterprise Linux (or a clone) or Fedora. I see it on my Oracle Linux 8 chromebook. Going to download [the noarch package](https://centos.pkgs.org/8/centos-baseos-armhfp/selinux-policy-targeted-3.14.3-20.el8.noarch.rpm.html) from h

[2020-09-19 20:35] Maccraft123 commented on #219
Is it possible to make it smaller? Putting 8mb file is not good...

[2020-09-20 08:16] rk-zero commented on #219
no wonder armhf is sold out everywhere.

[2020-09-23 23:06] SolidHal commented on #219
Seeing as we do not currently use any selinux policies, and I would have to do a lot of research to determine if and how PrawnOS would implement SELinux I am going to disable selinux in the kernel as a seperate commit citing this issue and the PR for the splash.
If you figure out something @gdallasdye we can then re-enable selinux in the kernel.

[2020-09-24 00:08] gdallasdye commented on #219
Please note I had most of this written earlier, and don't want it to go to waste. Still working on the selinux issue, or why it springs up even when U DAC was the default module, and with selinux set to permissive...

Regarding kernel config, the two major changes there are: 1) changing the initramfs filename and compression settings, and 2) setting the Default console loglevel from 7 to 1. Am I c

[2020-09-28 10:27] JeremyRand opened #220 "Consider morphing Firefox to Pseudo Tor Browser"
I finally got around to [documenting](https://wiki.raptorcs.com/wiki/Porting/Tor_Browser#Morph_Firefox_ESR_into_Pseudo_Tor_Browser) how to morph Firefox ESR into something that resembles Tor Browser.  I only tested on a Talos II, but it should work just fine on PrawnOS too.  Maybe something that PrawnOS could support installing, for users who want anonymity?

[2020-09-28 20:54] gdallasdye commented on #220
*Considers this in gedit*

https://github.com/gdallasdye/PrawnOS/blob/wip-ff-morph-to-tor/scripts/InstallScripts/MorphFirefoxToTor.sh

Right now it fails at the curl stage. Still need to do some more research on how to enable Tor on Debian. Perhaps someone lurking has an idea...

[2020-10-15 07:28] duvh93 opened #222 "When a new release?"
Hello!

Are there going to be new releases in the foreseeable future? Shall I build PrawnOS from sources myself?

[2020-10-15 14:32] SolidHal commented on #99
I'm pulling the 20.2 debian-experimental package into PrawnOS build, which will resolve this issue and let us keep panfrost up to date.

[2020-10-15 16:58] Maccraft123 commented on #99
btw this can be used
https://github.com/Maccraft123/armhf-tools/blob/master/build-mesa
https://github.com/Maccraft123/armhf-tools/blob/master/install-mesa

[2020-10-15 16:59] Maccraft123 commented on #222
Yes

[2020-10-18 23:00] graves opened #223 "sudo TARGET=armhf make image fails on latest version of Debian Buster"
[code]

Platform: Linux debian 4.19.0-11-amd64 #1 SMP Debian 4.19.146-1 (2020-09-17) x86_64 GNU/Linux

Currently we are unable to build an image using the exact instructions from the README.

[2020-10-19 02:04] rk-zero commented on #223
The flashmap and mosys packages come from the distribution-repository deb.prawnos.com

I don't know if they are missing there, but you can simply remove the packages in:

https://github.com/SolidHal/PrawnOS/blob/11f372958a6f368d95ddcb09692faa42cd6b1b20/scripts/Shared/package_lists.sh#L183

[2020-10-19 16:08] graves commented on #223
This is the problem:

[code]

[2020-10-19 16:16] graves commented on #223
Removing flashmap and mosys from the build script still fails with:

[code]

How are successful builds being made?

[2020-10-19 23:55] rk-zero commented on #223
Well, the repo seems down ... i cannot fix that @SolidHal please have a look.

[2020-10-19 23:59] rk-zero commented on #223
As a workaround, in addition to removal of those 2 packages, remove the repo from filesystem/resources/apt/sources.list

sed will maybe fail, remove https://github.com/SolidHal/PrawnOS/blob/68a034e4d03e818073845b5666e18c99682d3ec1/scripts/BuildScripts/FilesystemScripts/buildFilesystem.sh#L219

too

[2020-10-20 00:08] SolidHal commented on #223
Yeah, sorry, the repo is down. I'm looking into it right now. I will also fix it so that the build doesn't fail if the repo is down.

[2020-10-20 00:21] SolidHal commented on #223
alright, it is back up @graves. Thanks for reporting!

[2020-10-20 00:40] SolidHal commented on #223
Currently, the packages are built locally and then copied into the apt cache during the filesystem build process so it should be able to find the packages when `deb.prawnos.com` is down.
Out of curiosity @graves, are there `.deb` files in each of the `<repo>/filesystem/packages/<package-name>` folders?

[2020-10-20 00:46] SolidHal commented on #222
There will be a release `Soon`. In the meantime, you can grab a daily from the github CI for any commit if you'd like.
The main item holding back a release is packaging. PrawnOS specific modifications are currently difficult to upgrade without a full reinstall. I would like to get all of the filesystem items packaged and uploaded to the repo so that a user can upgrade portions of the system as nee

[2020-10-21 21:10] graves commented on #223
There are, I no longer have the logs from the build failures but from what I remember it fails when trying to find the debs to copy into the apt cache.

[2020-10-23 04:12] colemancda commented on #190
I have a C100PA and the touchscreen works great with the current release (PrawnOs Shiba v1.03)

[2020-10-24 04:39] SolidHal commented on #223
Sorry, broke this again transition to bullseye.

[2020-10-25 23:20] SolidHal opened #225 "arm64 gru-kevin cursor jumping and lag"
Symptom:
cursor jumps large distances when input starts
"too slow" complaints from Atmal MaXTough, cros_ec, whatever mouse driver can be found in:
- /var/log/Xorg.0.lob
- journalctl

Tests:
- occurs with panfrost on AND with panfrost disabled in the kernel in:
    - xfce
    - gnome
    - gnome wayland
    - sway

- libinput-debug behaves properly and responds quickly to input without lag
- runnin

[2020-10-26 13:54] graves commented on #223
Yeah, that's what I ended up doing and modified the build script to add Sway window manager, running on Weston with the Panfrost drivers. Working great so far thank you for all the hard work.

[2020-10-27 00:52] SolidHal commented on #225
Tested:
- upstream kernel 5.4.72 with panfrost and with cdn_dp blob-- no improvement
- upstream kernel 5.4.72 without panfrost and with cdn_dp blob-- no improvement
- tried another gru-kevin users kernel 5.9.1 config-- no improvement

Further, the "too slow" messages may not directly correlate to the symptom.

The only consistent behavior I have seen, is that the mouse becomes smooth and quickly r

[2020-10-27 01:16] SolidHal commented on #225
Tried unplugging the trackpad, keyboard, and touchscreen. Can still recreate issue with just a USB mouse.

[2020-10-27 03:46] SolidHal opened #226 "bullseye breaks github ci"
[code]

[2020-10-27 04:13] SolidHal commented on #185
Seems this issue has been mostly resolved by the retry login in the apt scripts, closing

[2020-10-27 04:13] #185 closed

[2020-10-27 04:26] SolidHal commented on #214
most recent builds have this, just need to test

[2020-10-28 03:41] gregordinary commented on #225
Testing with gru-kevin, can confirm this behavior with built-in touchpad and external mouse. Same messages found in /var/log/Xorg.0.log. Testing with XFCE environment.

I did find a couple posts on other forums noting this behavior, both recent, and on the libinput 1.16.x series. Libinput version on fresh PrawnOS install is 1.16.2.

- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=968093
- http

[2020-10-28 03:52] gregordinary commented on #196
I tried video output with two adapters, neither worked in PrawnOS (XFCE, default install).

Test using video over USB-C:
- ChromeOS: Works
- PrawnOS: No Video Output

Test using [USB-C -> USB/HDMI/Ethernet Dock](https://www.cnx-software.com/wp-content/uploads/2020/07/PinePhone-PostMarket-USB-C-Dock.jpg)
- ChromeOS: Works
- PrawnOS: No Video Output

[2020-10-28 03:57] gregordinary commented on #225
The warning messages for lag were introduced in libinput 1.16.

The threshold for the warning is 10ms:

Source: https://lists.freedesktop.org/archives/wayland-devel/2020-July/041529.html

This might be more compositor related than mouse/libinput related?

[2020-10-28 21:53] SolidHal commented on #196
Thanks @gregordinary
Unfortunately I am not surprised

[2020-10-28 21:58] SolidHal commented on #225
@gregordinary do you just see the messages in the log, or do you also experience the cursor jumps if you suddenly move the mouse quickly?

[2020-10-28 22:15] gregordinary commented on #225
@SolidHal Just re-tested, my observations are:
- There is a slight lag on initial movement of the mouse, either on first use after boot, or use after 20-30 seconds of non-use.
- If I quickly **drag** the mouse across the screen on initial use, it sort of jumps (animation not smooth) but it jumps the expected amount, relative to the distance I dragged the mouse.
- If I **nudge** the mouse or do a s

[2020-10-28 22:22] SolidHal commented on #225
@gregordinary thats perfect, you described the tests I had been doing myself.
I was starting to worry my hardware had a defect, so I'm glad you are seeing the issue as well.

mps on the rockchip-linux irc doesn't see this issue at all, I tried his kernel config but still saw this issue.

[2020-10-28 22:23] SolidHal commented on #223
I think this issue can now be closed, since PrawnOS has jumped to bullseye and the repo is fully up.

[2020-10-28 22:23] #223 closed

[2020-10-29 00:04] SolidHal commented on #222
Now!

[2020-10-29 00:04] #222 closed

[2020-10-29 00:04] SolidHal commented on #207
turning this into just "add sid support"

[2020-10-29 00:05] SolidHal commented on #166
I believe this is now fully supported in the most recent release, reopen if you find this is not the case

[2020-10-29 00:05] #166 closed

[2020-10-29 00:07] SolidHal commented on #99
I can now confidently say this can be closed! As of release v1.1 PrawnOS supports panfrost on both armhf and arm64! Thanks for waiting hahaha!

[2020-10-29 00:07] #99 closed

[2020-10-29 03:17] gregordinary opened #228 "Pre-built images (v1.1) not booting"
Just downloaded both the armhf and arm64 pre-built images from the 1.1 release and tried them on the C201 and gru-kevin Chromebooks, respectively. Neither are booting from the microSD card, I get the internal speaker sound when I press CTRL+U on both Chromebooks.

I did just build an image from source yesterday when most/all of the changes in this release were already committed and that booted fin

[2020-10-29 14:49] tehbra1n commented on #228
I have the same issue using the armhf image on my C201P.  Previous images worked fine.  I'm going to build from source for kicks on my deb vm and see what happens.

[2020-10-29 17:54] gregordinary commented on #228
Tried with a fresh build from source and that seems to be working fine, so perhaps something with the automated build process.

[2020-10-30 12:39] tehbra1n commented on #228
Same.

[2020-10-31 01:20] SolidHal commented on #228
just reuploaded the images, sorry for the issue.

[2020-10-31 01:20] #228 closed

[2020-10-31 03:00] joshbowyer opened #229 "Add BRCM4354 kernel module"
The Veyron Minnie (C100P) comes with the BRCM4354 chip, but the module is not present in the kernel. I think it would be ideal to include the module in the kernel, but blacklist it by default as the driver is nonfree, which would allow it to be enabled if the user wishes.

[2020-10-31 04:09] joshbowyer commented on #229
The module/flag should be BCM4354

[2020-10-31 04:10] joshbowyer opened #230 "Add ZRAM kernel module"
Module or flag. This is pretty standard on ChromeOS as well as most Linux distros now (it has been added to Mobian for Pine devices too)

[2020-10-31 04:27] gregordinary commented on #229
This would be convenient, but also conflict with issue #28 if that's still a project goal.

Including the firmware, even disabled, would be a blocker for the project getting FSF certification.

[2020-10-31 06:10] rk-zero commented on #229
I was conflicted on that issue before but i would now vote to NOT include non-free drivers. There is already a fork with non-free support for built-in wifi here: https://github.com/Maccraft123/ShrimpOS

Getting endorsed by the FSF would make the project waay more visible. As the c100p is discontinued but still around in US schools this would savelots of e-waste and offer a cheap solution for stude

[2020-10-31 12:07] joshbowyer commented on #229
Thank you for making me aware of that fork, will close this issue.

[2020-10-31 12:07] #229 closed

[2020-10-31 14:05] joshbowyer commented on #229
@SolidHal @rk-zero I know this isnt the right place for this but there is no Issues tracker on ShrimpOS and I see you guys have contributed there actively, is it possible to add an issue tracker? The latest ShrimpOS release wont boot on the C100P...

[2020-10-31 15:16] tehbra1n opened #231 "PrawnOS 1.1 armhf on C201P + Gnome desktop results in crash on boot"
Both using the armhf image and building from source results in a crash on boot with Gnome but not Xfce.  It seems like the boot process gets as far as starting the Gnome desktop manager, then an endless stream of error messages scrolls until the power button is held down to power of the laptop.

I'm not sure if there is an easy way to get a text copy of the output but here is a pic.
![PXL_20201031

[2020-10-31 15:18] gregordinary commented on #231
I experienced the same thing, however I was testing 4k patches on the latest 1.1 release so I didn't know if it was the patches or not. But I can confirm this happened only in gnome and not xfce

[2020-10-31 18:08] rk-zero commented on #229
I advocated a 2 kernel solution for shrimpos to @maccraft123 that does nothing more than adding a second kernel partition.

You can then switch the kernel by changing the priority of the partition with cgpt. See original chromeos partition layouts on how to do it.

This is the easiest way to have a second non-free fork that will stay usable, but im not the author of ShrimpOS ¯\_(ツ)_/¯

[2020-10-31 20:43] SolidHal commented on #229
@joshbowyer I have not contributed personally to ShrimpOS and am not affiliated in any way. ShrimpOS is a fork of PrawnOs, which is why I show up as a contributor. You will have to contact the maintainer, @Maccraft123 if you would like support.

[2020-10-31 20:45] SolidHal commented on #231
Looking into it, thanks for the report

[2020-10-31 20:53] SolidHal commented on #230
Seems like it would give us some nice performance improvements on these low-ram systems. Could users with ChromeOS report how large of zram partitions are used on 2GB and 4GB models?

[2020-10-31 20:54] joshbowyer commented on #230
I dont use ChromeOS but on Mobian (Debian for Pine) we generally set it to 50% and all cores (4), and it works very well

[2020-10-31 21:13] SolidHal commented on #230
CONFIG_ZRAM was actually already enabled on the armhf kernel. Now enabled on the arm64 kernel as well. Next is to setup the userspace config to take advantage of it.

[2020-10-31 21:15] joshbowyer commented on #230
It isnt on my install and I installed v1.1... to enable in userspace install zramswap and edit /etc/defaults/zramswap

[2020-10-31 21:24] SolidHal commented on #230
https://github.com/SolidHal/PrawnOS/blob/f8459643606db4c4e4a489588bc7312e21e81109/kernel/resources/armhf/config#L1478 shows it is built in to the kernel. Its not a module, so it won't show up in lsmod. Actually, nothing is a module right now. on my veyron-speedy, I see `/dev/zram0` which further confirms it is enabled.

By "on all cores (4)" are you saying there is a zram device per core?

[2020-10-31 21:25] SolidHal opened #233 "fullname shows up as "" in gdm, xfce menu."
likely a bug in the user creation script

[2020-10-31 22:59] joshbowyer commented on #230
Yes, it utilizes all cores which is optimal, otherwise you only get 1/4 the swap capacity/processing.

Ill have to double check the exact error Im getting because when I started it it screamed about the module not existing...

[2020-10-31 23:03] SolidHal commented on #230
ah, so you are talking about `cat /sys/block/zram0/max_comp_streams` not the number of zram devices to create? From https://www.kernel.org/doc/html/latest/admin-guide/blockdev/zram.html it looks like it automagically creates the right amount of compression streams

[2020-10-31 23:09] joshbowyer commented on #230
Im not sure about how it translates to the /sys blocks, but as far as the config itself those are the variables/values we found to work best. (Im not a dev, Im a linux admin who tries to help as much as he can lol, so sorry if Im missing an obvious link here)

[2020-10-31 23:12] #233 closed

[2020-10-31 23:39] SolidHal opened #234 "gru-kevin on gnome-wayland screen rotation is flipped"
On gru-kevin on gnome-wayland with iio-sensor-proxy installed the session can rotate the display according to sensor information. The issue is, the behavior is flipped 180 degrees.

[2020-10-31 23:44] SolidHal commented on #226
Seems the fix was to add `sudo apt install -y qemu-user-static binfmt-support` *before* the docker call, as the docker-host system needs to setup the kernel correctly so that qemu-debootstrap inside the docker can then use it.

[2020-11-01 00:16] SolidHal commented on #226
aaaand the issue that we can avoid locally by building on bullseye or pulling from buster-backports gets hit:
[code]
this is because the docker host (ubuntu 20.04) doesn't have a new enough version of qemu-user-static...
we would need to be on ubuntu 20.10, or we have to install a backport of the package from a ppa. Since (20.10) won't(?) be an option (see https://github.com/actions/virtual-enviro

[2020-11-01 00:31] SolidHal commented on #226
Unfortunately I mis-read that ppa. It only supplies qemu, not qemu-user-static.

[2020-11-04 19:44] Maccraft123 commented on #234
https://github.com/SolidHal/PrawnOS/pull/215/files#diff-bdcb2c55b66d931e3435a2031bb87aaefb8b5e2820a97cae4d7180ad95968e71R328

[2020-11-05 01:44] SolidHal commented on #231
kernel 5.9.4 seems to have fixed the issue, I'll make a 1.11 release soon with this fix

[2020-11-06 16:20] graves commented on #230
Zram takes a parameter to set the number of devices it creates, the default is 1 which is why you only see `/dev/zram0` created.

So you'd either need to build it as a module and load it with:

`modprobe zram num_devices=4`

or add the parameter to the kernel parameters when you build the kernel.

[2020-11-06 16:26] SolidHal commented on #230
@graves thanks but my confustion is around if we want a zram device per cpu or if `max_comp_streams` is what we want per cpu.
I'm leaning towards `max_comp_streams` since the documentation mentions it now automatically sets `max_comp_streams` based on the number of cpus

[2020-11-14 22:14] SolidHal opened #235 "Gnome lock screen hangs on arm64"
same behavior as on debian upstream
[code]
 test 3.38-1-3 from experimental

[2020-11-15 09:41] austin987 commented on #226
Well, to be fair, if you're committing stuff without making sure that CI works first, then the CI can't really help prevent breaking things.. I'm not sure what value the CI provides in that case?

[2020-11-15 17:01] SolidHal commented on #226
You are right @austin987, currently the CI is absolutely useless. The issue is at the core of github actions, https://github.com/actions/virtual-environments/issues/1862. I would need to package a new version of qemu-user-static for ubuntu 20.04 to get CI working again.
I'm not going to prevent PrawnOS from moving to bullseye just because github CI kinda sucks and refuses to provide an up to date

[2020-11-16 11:47] austin987 commented on #226
Yeah, the problem is I'm not aware of any free CI that provides debian _vms_. With a container, it's trivial, but most build vms are ubuntu. Since this project strictly requires a vm (afaict), I'm not sure how to solve it.

[2020-11-16 20:50] SolidHal commented on #226
I'm backporting the ubuntu 20.10 qemu-user-static package to 20.04, should take care of it.
I'm very surprised github doesn't keep up with the ubuntu releases.

[2020-11-16 23:37] SolidHal commented on #235
bisected the commits and found https://salsa.debian.org/gnome-team/mutter/-/commit/209b1ba3 to be the issue, emailed the debian bugs list

[2020-11-17 16:50] dashaub opened #236 "Building in docker"
Is building in docker not supported? I've tried unsuccessfully building  [v1.2](https://github.com/SolidHal/PrawnOS/releases/tag/v1.2) on a `buster` container with backports, and here is the output from a `bullseye` container:
[code]

[2020-11-17 17:00] SolidHal commented on #236
Docker is supported, but is more work to get functional than just a bullseye vm.
make sure you have the following args in your docker run command:
` --privileged -v/dev:/dev`
docker is dependent on the host to setup quite a few things, including qemu-user-static. If your host has too old of a version, you will get a sepmop error later on in the build.

[2020-11-18 01:39] dashaub commented on #236
Makes sense. One more thing: adding checksums and/or signatures to the built images would be nice.

Thanks for all your work making this great project.

[2020-11-18 01:39] #236 closed

[2020-11-18 05:23] SolidHal commented on #231
released 1.2 which fixes this, closing.

[2020-11-18 05:23] #231 closed

[2020-11-18 05:51] SolidHal commented on #226
Second issue, only qemu 5.0 is available on 20.10, but 5.1 is required for armhf to avoid https://bugs.launchpad.net/ubuntu/+source/qemu/+bug/1897854

[2020-11-18 19:05] SolidHal commented on #226
looks like 5bfe2115590b47496a91a26b62f3331b45ff993c and 63ddc9abb06af20a847769db2bb2ffad05c39489 fixed it! Should float us for now.

[2020-11-18 19:05] #226 closed

[2020-11-21 00:29] austin987 opened #239 "installing Xfce desktop environment fails (tries to dowgrade mesa)"
I just built a new image on my desktop to test a PR. The build goes fine, but when I attempt to install, it bails out when installing mesa. Terminal output:

[code]

Installing without a desktop works fine (didn't try gnome/lxqt). I also tried adding `--allow-downgrades` here:
https://github.com/SolidHal/PrawnOS/blob/master/scripts/InstallScripts/InstallPackages.sh#L81

which worked, but I'm not s

[2020-11-24 07:28] rk-zero commented on #239
had the same issue, you can workaround that for now by adding --allow-downgrades to all 6 lines.

[2020-11-24 10:21] austin987 opened #243 "Add a second kernel partition"
As mentioned in https://github.com/SolidHal/PrawnOS/issues/229#issuecomment-719968121

Non-free firmware aside, I think there is solid value in providing a second kernel partition (i.e., so that the kernel can be upgraded and have the ability to revert if things break).

Once there is a second partition, https://github.com/SolidHal/PrawnOS/blob/master/scripts/InstallScripts/UpgradeKernel.sh should

[2020-11-24 10:22] austin987 commented on #229
FWIW, I recently rebased the wifi firmware on the blobby kernel work (5.9.8) in PrawnOS here:
https://github.com/austin987/PrawnOS/tree/wifi

I've only tested on C201P, I don't have access to any other hardware, but that should be enough to start hacking on for other devices with a more recent kernel ;).

IMO though, I think a second kernel partition makes sense on its own, for safer kernel upgrad

[2020-11-26 14:11] joshbowyer opened #245 "Wake from suspend fails on c100 with xfce"
When waking from suspend on the C100, everything freezes, and if i keep trying I can occasionally get it to eventually let me change tty. But when I am able to do so I cant log in as its too busy vomiting messages on the screen about panfrost and I think memory errors. This is happening with both lightlocker and gnome-screensaver.

[2020-11-26 14:44] joshbowyer commented on #245
So testing just now, when I suspend via lid close (no lock) and then reopen, the screen appears just as I left it, but nothing is clickable. dmesg shows the cpu power down and then power up, followed by:

cros-ec-spi: spi0.0: EC failed to respond in time
cros-ec-spi: spi0.0: Command xfer error (err:-110)
elants_i2c 3-0010: Unknown packet ff ff ff ff
elan_i2c 4-0015: invalid report id data (ff)

[2020-11-26 14:53] joshbowyer commented on #245
By the way I should mention that this has been the case on both PrawnOS latest image, and now also on @austin987 s fork as well, however while I wasnt able to reproduce it this morning, I only recall seeing the panfrost data dump on his fork, although it may have also been a fluke. But this shows that suspend is broken on both kernel versions, and to my memory it was also broken on debian back in

[2020-11-26 22:39] Maccraft123 commented on #229
I should check my email more often ._.

[2020-11-28 19:53] SolidHal commented on #243
I definitely see some value in this, especially on the armhf devices that will likely always use depthcharge. On arm64 devices, whatever bios/bootloader replacement ends up in use would have to have support for multiple kernel partitions for this to still be useful.
A backup kernel is always helpful when upgrading.

[2020-11-28 20:01] SolidHal commented on #245
if panfrost is to blame, the chromeos kernel would behave differently.
What kernel version are you seeing this with? What PrawnOS git sha or release version?

Those are likely red herring errors, as I have seen them all over the kernel logs even when things behave properly.

[2020-11-28 20:13] joshbowyer commented on #245
I have seen this issue with Shiba v1.2 in the releases page, and also with Austin's fork. Both behaved this way on vanilla flash.

[2020-11-28 20:38] SolidHal commented on #245
have you tried the default xfce or gnome setups from the PrawnOS installation? lightlocker has known issues with armhf platforms, so for xfce PrawnOS installs xsecurelock instead.

What are you using as your boot device?

[2020-11-28 20:42] joshbowyer commented on #245
Installed on emmc, and this was again with all install defaults, and also tried with gnome-screensaver

[2020-11-28 20:43] joshbowyer commented on #245
and sorry this was default xfce setup

[2020-11-28 20:48] SolidHal commented on #239
yeah, I figured this might happen.
We should default to not downgrading with mesa. The only reason to have PrawnOS mesa builds is when debian hasn't packaged a fix that we need yet. Now that debian actually has a newer version, we should just use that.

I'll disable the mesa build process for now since it won't be used, but will likely come in handy in the future.

Still, this would just happen ag

[2020-11-28 20:49] Maccraft123 commented on #245
Can you run something like `dmesg -w > log` and post it on [bpa.st](url)?

[2020-11-28 22:04] SolidHal commented on #239
this should be fixed now, reopen if needed

[2020-11-28 22:04] #239 closed

[2020-11-29 17:09] joshbowyer commented on #245
Working on getting a good test for that output now, but what Ive found is that suspend works (with lid open), and gnome-screensaver works, but its when I close the lid with suspend on lid close enabled that it suspends but doesnt lock, and then wakes to a borked xfce4-session

[2020-11-30 21:10] SolidHal commented on #170
in recent images, usb-ethernet is auto-configuring properly. Closing

[2020-11-30 21:10] #170 closed

[2020-11-30 21:13] SolidHal commented on #208
these were taken care of long ago.

[2020-11-30 21:13] #208 closed

[2020-11-30 21:14] SolidHal commented on #46
This is "intended behavior" for xfce. A different theme could fix this, but then the borders are larger. Closing as there is not much we can do about it.

[2020-11-30 21:14] #46 closed

[2020-11-30 21:15] SolidHal commented on #141
I *think* everything required for this is now available but don't know if I have tested properly. closing. please reopen if this issue persists.

[2020-11-30 21:15] #141 closed

[2020-11-30 21:18] SolidHal commented on #153
I take back what I said about this also happening when booted from sd. It likely would *not* happen if booted from sd.

[2020-11-30 21:19] SolidHal commented on #235
https://packages.debian.org/source/experimental/mutter has the fix, need to grab libmutter-7-0, gir1.2-mutter-7 from experimental

[2020-11-30 23:14] cvmiller commented on #153
I agree. I have been booting from SD, and I don't see the FS corruption.

[2020-12-02 02:03] SolidHal commented on #243
on https://github.com/SolidHal/PrawnOS/pull/249 @rk-zero

I understand this is a use case many folks deal with. I'm not completely clear on how being able to boot between the two is a large convenience. By booting the blobby kernel, you have already accepted that the associated filesystem/userspace has been used with the blobby kernel. In my mind, it is better to either accept the wifi blob in you

[2020-12-03 22:32] SolidHal opened #252 "Where did InstallPrawnOS.sh go?! Where did /InstallResources go?!"
`InstallPrawnOS.sh` is now available as `/bin/InstallPrawnOS` meaning it can be ran by simply calling `InstallPrawnOS`

`/InstallResources` and the folder `filesystem/resources/InstallResources` was depreciated. Dumping items on the root is a *bad* practice which was done initially just to get off the ground. Since PrawnOS is now more mature, `/etc/prawnos/install` now contains the resources and s

[2020-12-05 09:30] albsod opened #254 "Gnome Settings: About shows that LLVM graphics is being used (Panfrost + Wayland)"
Under Wayland, Gnome Settings: About shows this graphics string:  "llvmpipe (LLVM 11.0.0, 128 bits) / Unknown Graphics Controller". Under Xorg it correctly shows that Panfrost is being used, however.

[code]

[2020-12-05 09:55] polarisfm opened #255 "Boot from USB Causes Kernel Panic on gru-kevin"
Attempting to boot PrawnOS arm64 on gru-kevin causes the kernel to panic. I have tried this on multiple USB flash drives (both USB C and USB A with an adapter) and it causes the same issue each time.

This occurs on 1.1, 1.2, and 1.3. I really hope this isn't a silly configuration issue, I followed the instructions quite carefully.

`switch_root` fails because it fails to find `new_root` but I'm r

[2020-12-05 10:01] polarisfm commented on #19
I know this issue has been inactive for over two years, but it is worth looking at PureOS. They have perfectly functional arm64 Debian repositories, and PureOS is FSF approved. While they don't support armhf officially it could certainly be used as a a base for armhf PrawnOS packages.

My understanding is that they use Debian Bullseye as their base, so that works out well enough.

[2020-12-05 10:18] albsod commented on #245
On Panfrost + Gnome + Xorg, colours get messed up after resuming from suspend. This doesn't happen in the Wayland session. Perhaps the underlying problem is the same?

[2020-12-05 11:10] endian-albin commented on #28
I'd be willing to provide a Swedish mirror for PrawnOS if the required amount of storage isn't too much. How much do you think is needed per arch?

[2020-12-05 11:19] albsod commented on #28
I'd be willing to provide a Swedish mirror for PrawnOS if the required amount of storage isn't too much. How much do you think is needed per arch?

[2020-12-05 20:42] albsod commented on #19
Would it make sense to base PrawnOS entirely on PureOS? Apart from the hardware specific quirks needed for Chromebooks it's perhaps unnecessary to maintain a separate "stripped"/"purified" Debian distro when such a project already exists? PureOS doesn't have any arm32 packages, but if we provide them then perhaps they would be interested in co-hosting?

[2020-12-06 19:05] tehbra1n commented on #254
same here, FWIW.

![Screenshot from 2020-12-06 14-02-25](https://user-images.githubusercontent.com/17303996/101289685-f6ad4d80-37f5-11eb-86af-2f086ba83fc9.png)

[2020-12-06 21:46] Maccraft123 commented on #254
Can you try with having(one at a time):
- Your user in 'video' group
- /dev/dri/* set to 0666 mode
- Launched Wayland compositor in tty1
And show what has LLVMpipe renderer and what makes use of Panfrost?

[2020-12-06 21:54] albsod commented on #254
My user was already in the video group

This made no difference

I don't understand. Could you explain in more detail what I need to do here?

[2020-12-07 18:09] polarisfm commented on #255
Update: Booting from a microSD card works fine and allows installation to other attached media (internal and external work well).

This issue seems to be specific to USB boot.

[2020-12-07 22:26] SolidHal commented on #254
this could explain https://github.com/SolidHal/PrawnOS/issues/225
if the compositor/wm isn't getting hw accel from panfrost, the cursor lag could be caused by the sw rendering not being able to keep up.

[2020-12-09 00:34] SolidHal commented on #255
Interesting! Thank you for the detailed report @polarisfm
Let me look into this and get back to you.

FYI, unless you specifically reflashed your kevin, you are already running coreboot with depthcharge :)

[2020-12-09 01:48] polarisfm commented on #255
Thanks!

Also my bad, I meant deblobbed Coreboot. From what I can tell it ships with some blobs in ARM TPM but based on my experience with another RK3399 machine they aren't hard to remove and don't significantly impact usability.

[2020-12-09 05:57] SolidHal commented on #255
This behavior seems to be the result of a race condition. The kernel seems to not be mapping USB devices quick enough, meaning when we try to get the list of connected devices using `blkid` the usb flash drive we are booting from is missing!

[2020-12-09 05:57] #255 closed

[2020-12-09 06:32] SolidHal commented on #255
Created release with this fix: https://github.com/SolidHal/PrawnOS/releases/tag/v1.3.1

[2020-12-09 07:42] austin987 opened #256 "lilyterm fails to run, broken config"
Noticed we have 'lilyterm' (https://lilyterm.luna.com.tw/) installed, saw it before Xfce4 terminal when trying to test something on a fresh install. That failed with a GUI error, saying that ~/.config/lilyterm/default.conf is in the old format and needs to be updated.

Which is strange, because ~/.config/lilyterm doesn't exist..

Anyway, it's a lilyterm bug that it gives that error if the file doe

[2020-12-11 00:39] SolidHal commented on #254
On gru-kevin, gnome simply reports "Unknown Graphics Controller / Unknown Graphics Controller" which is probably correct, so this issue seems to only effect the c201, or maybe just armhf devices?

[2020-12-11 01:20] SolidHal commented on #254
Tested v1.1 on veyron-speedy, which has the mesa 10.2.1-100 packages built by PrawnOS instead of the upstream debian ones and kernel 5.4.57
The Graphics section in Gnome About is properly populated with `Mali T760 (Panfrost) /Mali T760 (Panfrost)`

I then upgraded on the kernel to 5.9.12, keeping everything else on the system the same and found the Graphics section to be incorrect, so this is like

[2020-12-11 02:04] SolidHal commented on #225
Created a video demonstrating the issue.

kernel 5.9.12
mesa 20.2.3-1 from debian bullseye
prawnOS 1.3.1
arm64, gru-kevin, rk3399, T860

Used some Mesa debug environment vars in `/etc/profile` to get debug info on the running DE (gnome in this case)
The debug vars are:
[code]
these and more can be found here: https://docs.mesa3d.org/envvars.html

Explanation of the tests recorded in the video:

1)

[2020-12-11 02:52] #256 closed

[2020-12-11 02:52] SolidHal commented on #256
I agree, it must be tagging along as a rec from some package.

[2020-12-11 04:33] SolidHal commented on #225
Learned that it is expected that cursor movement *not* effect the GALLIUM_HUD graphs because cursor planes bypass the gpu.

Ruled out a bunch of additional things:

Cursor planes:
- mod+shift+space c disables the cursor planes in weston
- simply start weston from a tty
- can confirm cursor planes are disabled by enabling the GALLIUM_HUD. When cursor planes are disabled, cursor movement will update

[2020-12-11 20:53] SolidHal commented on #225
Took a weston timeline of the issue along with another video.
I took the timeline by doing the following:
1) start weston with debug flag from a tty: `weston --debug`
2) take a timeline:  `weston-debug -o <filename> timeline`
I then used https://github.com/ppaalanen/wesgr to turn it into graphs.

During the timeline recording I did the following:
1) show cursor jumping when the input device is mov

[2020-12-11 23:43] SolidHal commented on #225
I did the same method described above on a veyron-speedy with panfrost. The differences are quite interesting, but first here are the files:

[veyron-speedy-weston-timeline-cursor-comparison.zip](https://github.com/SolidHal/PrawnOS/files/5682091/veyron-speedy-weston-timeline-cursor-comparison.zip)

[2020-12-12 01:11] SolidHal commented on #225
Now for the analysis. Lets focus on the first section of both graphs, the portion of the test with "cursor flicks" that cause this issue on gru-kevin.

Lets start with correct behavior. On veyron-speedy, this section looks like:

![veyron-speedy-cursor-flick-far](https://user-images.githubusercontent.com/12972568/101965124-6b9ecf80-3bc8-11eb-9904-8bc5f4df2d35.png)

We can see there are multiple vb

[2020-12-12 01:37] SolidHal commented on #28
@albsod likely 100s of gigabytes to mirror all of the packages from each arch would be required. The next biggest thing holding this back would be firefox, distros with firefox can't get FSF endorsement.

[2020-12-12 01:44] SolidHal commented on #19
basing off of PureOS would make sense, and save PrawnOs from needing to host a bunch of packages. Unfortunately it would likely be difficult to convince Purism to host a bunch of armhf packages for devices they don't support.

[2020-12-12 01:45] SolidHal commented on #245
@albsod that is actually a different issue that I *think* is due to panfrost. I have observed it on both wayland gnome and xorg gnome on the c201, but not on gru-kevin.

[2020-12-12 01:49] SolidHal commented on #245
regarding this issue, I don't have a great way to debug this myself as I don't have the hardware. It would be helpful to have logs dmesg and Xorg/journalctl session logs on a fresh xfce and gnome install of prawnos. I recall certain setting in xfce making the suspend/lock behavior break, but they should be set properly now by default.

[2020-12-12 03:16] gregordinary opened #258 "Prompt to add new users on (E)xpand w/ DE Install"
When choosing the (E)xpand option on InstallPrawnOS, and installing a desktop environment, there is no prompt to create a regular user.

This makes sense for just expanding the installation, but for desktop environment installation, the option should be given to create a new user. Tested this installation method on both XFCE & GNOME, behavior the same for both, you end up with a DE and only a root

[2020-12-12 04:34] SolidHal commented on #258
Thanks for point that out, seems like it was an oversight with some cleanup that occurred. Should be fixed now but don't have the time to test it today.

[2020-12-12 16:22] albsod commented on #19
If the packages are generic, I don't see why they would be opposed to it. It would mean more visibility to their distro and their brand. Even if they won't accept armhf packages, we could host that particular architecture separately.

[2020-12-12 16:24] albsod commented on #28
Oh, that's a lot. Is there a way to find out the total size of just the compressed armhf packages in main?

[2020-12-12 16:44] gregordinary commented on #28
The armhf archive size is 275 GB:
https://www.debian.org/mirror/size

It'll need a bit more coordination to confirm we have resources, but I'd be willing to contribute some monthly amount for hosting to help achieve this.

[2020-12-13 00:12] gregordinary commented on #159
Revisiting 4k support. Previously I was able to build with the 8 re-worked patches [mentioned above](https://github.com/SolidHal/PrawnOS/issues/159#issuecomment-633127493). On the latest build, I'm getting errors.

The following are the errors I see, condensed for quick view. More context linked below:

[code]

Appears to be related to the following patch:
https://github.com/Miouyouyou/build/blob/

[2020-12-13 00:39] gregordinary opened #259 "Consider enabling CONFIG_EXFAT_FS in the kernel"
I occasionally use exFAT to format higher capacity drives that need compatibility with macOS and/or Windows, in addition to GNU/Linux.

Kernel 5.4 introduced an exFAT kernel driver, and vastly improved it in 5.7. It can be enabled with CONFIG_EXFAT_FS and offers some performance gains over the FUSE implementation.

Not a must have, but convenient.

[2020-12-13 03:33] Miouyouyou commented on #159
Yeah, the signature of the patched function changed a lot. Still, the patch seems to be applicable, though it will clearly need a rewrite :
* The connector is now a member of the hdmi structure passed as a pointer
https://elixir.bootlin.com/linux/latest/source/drivers/gpu/drm/bridge/synopsys/dw-hdmi.c#L143
* However, it's now useless since the display info are already passed as a parameter to the

[2020-12-13 19:43] joshbowyer commented on #245
https://bugzilla.gnome.org/show_bug.cgi?id=753678

It seems this is a DPMS issue.

[2020-12-13 19:59] joshbowyer commented on #245
So, Im closing this. No idea what or how, but after trying some thing I finally found that xflock4 had no screensaver command set in xfconf. Once I set the command there the behavior is now as expected. I have no idea why it failed to autoset it as xflock4 is supposed to (it uses a for loop to see which command to use but doesnt actually probe them) but this issue is no longer an issue for me.

[2020-12-13 19:59] #245 closed

[2020-12-14 04:49] austin987 commented on #256
Thanks for the fix, but that only removes it from gnome, but not xfce (which also has it installed, that's how I noticed it ;) ).

[2020-12-14 10:21] Maccraft123 commented on #243
There are some notes about this on ArchWiki:
https://wiki.archlinux.org/index.php/Talk:Chrome_OS_devices#cgpt_command

[2020-12-14 17:22] espoelstra opened #261 "v1.3.1 release doesn't boot from microSD if encryption option is selected"
I extracted v1.3.1 to a USB to install to a microSD and while the installation completes, upon rebooting without the USB inserted, I get an error from depthcharge when trying to Ctrl+U boot, presumably because the /boot partition is encrypted or the signed kernel it looks for isn't readable?

[2020-12-14 17:26] espoelstra opened #262 "v1.3.1 USB wired network devices not recognized?"
Device: C101P gru-bob

I have a couple WIDELY compatible ASIX USB network cards that have worked with practically every OS/initrd that I've thrown at them, but though the `dmesg` output shows the devices as recognized, they don't show up when I do `ip addr` or `ip link` and oddly enough it seems my installation is missing `lsusb` or `lspci` whether I run those as my user or as root.

There also se

[2020-12-14 18:12] espoelstra commented on #195
I'll give another vote for libinput as you can sometimes borrow the config files directly from ChromeOS that are pre-"calibrated" for specific ChromeOS devices and you can define "quirks" for devices that have known weirdness with their pressure sensitivity etc. The cmt driver is OK, but using libinput + gestures has been really nice in my experience.

[2020-12-15 05:38] SolidHal commented on #245
@joshbowyer glad to hear it is no longer an issue. Just to confirm, is there a code change we should get in PrawnOS to avoid future pain here?

[2020-12-15 05:47] SolidHal commented on #28
Thanks @gregordinary, thats actually less than I figured. Creating a PrawnOS mirror wouldn't be too too expensive from a storage side, but the bandwidth will likely be the pricey bit. I'm not familiar with how to estimate how much bandwith will be required so I'll have to spend some time figuring that out.

Please share any opinions on Firefox replacements, and if FSF endorsement is "worth" exchan

[2020-12-15 05:50] SolidHal commented on #19
Its definitely a route I would consider, as the cost savings would be nice. There is also some value to maintaining our own PrawnOS repos rather than be dependent on Purism though.

[2020-12-15 05:53] SolidHal commented on #256
ah, good point. I only first noticed it in gnome so I assumed it was a gnome-specific issue.

[2020-12-15 05:57] SolidHal commented on #195
I had opened this before I had worked with Wayland much. I have found libinput with wayland to be a very pleasant experience vs on xorg, so I will likely stick with libinput and drop this work.

I'll probably end up closing this issue, but will keep it around for now.

[2020-12-15 06:04] SolidHal commented on #262
Could you provide the information from dmesg about what the devices are recognized as?
The output of lsusb would be helpful as well. It should be included in the default packages, but seems to have gone missing recently. Thanks for pointing that out. Since you don't have networking to grab the package for lsusb, you could always grab it from https://packages.debian.org/bullseye/usbutils along with

[2020-12-15 06:07] SolidHal commented on #261
Does this occur when encryption is not chosen? gru-bob support is still quite underdeveloped so I wouldn't be surprised if it just has issues booting from sd.

[2020-12-15 07:20] austin987 commented on #28
IMO it would be nice to have, but I'd be concerned that they might object to blobby_kernel support being available, which I'd like to see remain. If they're okay with that, then I'm onboard. Not hard for someone to install firefox on their own if they really want to.

[2020-12-15 12:51] joshbowyer commented on #245
A screensaver should be installed by default and the xfconf variable for its command should be set. In my case I installed gnome-screensaver ans set the LockCommand variable to gnome-screensaver-command --lock

Without this set, the X session will freeze with "suspend on lid close" and "lock screen when going to sleep" are set

[2020-12-15 13:11] espoelstra commented on #261
It does actually boot when not using encryption, though I was still having some weird visual artifacts and lsusb and lspci weren't working so I didn't have much luck checking if a newer package made things better.

[2020-12-15 20:47] Maccraft123 commented on #262
It looks to me like some usb ethernet controller drivers aren't enabled in default arm64 kconfig

[2020-12-15 23:34] espoelstra commented on #262
While attempting to try the generic linux-image-arm64 kernel I also discovered there appears to be an issue with how /etc/default/keyboard/keyboard is defined, it should be a file in /etc/default and not a folder with a file in it, the plymouth initramfs hook REALLY didn't like that, I had to move the file up a directory after renaming the folder and then deleting the folder once it was empty.

[2020-12-16 02:09] SolidHal commented on #259
funny enough, I thought I had already enabled this. Turns out it was only on arm64. Now enabled on armhf as well. Thanks @gregordinary :)

[2020-12-16 02:21] herbsmn commented on #28
Not sure if this is helpful or not but PureBrowser is the Firefox fork that PureOS, a FSF FSDG certified OS, uses. https://software.pureos.net/package/bin/amber/purebrowser

[2020-12-16 02:22] SolidHal commented on #262
bah! this is due to a bug introduced by doing debian packaging. This is the offending line:
[code]
which should instead be
[code]

thanks for pointing that out @espoelstra

[2020-12-16 02:23] SolidHal commented on #262
you are right @Maccraft123
I tried to make the arm64 config match armhf, but I guess I missed these items. they are now enabled.
thanks for reporting @espoelstra

[2020-12-16 02:24] SolidHal commented on #245
xsecurelock is installed as the lock command, so that *shouldn't* be the case.

[2020-12-16 02:31] SolidHal commented on #28
@austin987 blobby_kernel support *should* be fine, distributing images built with a blobby kernel might be a different story. Not sure though.
blobby_kernel support is useful as a debug too.

[2020-12-16 02:33] espoelstra commented on #262
I'll give it a try if my compile ever completes under ChromeOS on my Bob. I'll have to see if I can just sync over the kernel after I pull the latest changes and compile again.

[2020-12-16 02:34] SolidHal commented on #261
hm, then something went wrong during installation. depthcharge beeping indicates the kernel isn't present at all, which encryption shouldn't effect.
How did you test sd boot? did you simply dd a prawnos image to the sd card, or did you follow the same 1) boot from usb 2) install to sd card steps as before?

I ask because my best guess is a bug in the script that installs from USB to sd

[2020-12-16 02:37] SolidHal commented on #262
I fixed the CI, so an image should be available for test "soon"
then you can just dd the kernel manually to whatever boot device you would like.
make sure to wipe the kernel partition first on that boot device using:
[code]

[2020-12-16 02:44] SolidHal commented on #245
tested on a c201 with PrawnOS v1.3.1, the xfconf setting is indeed set to xsecurelock. Also tested that locking the screen, and suspending manually and with lid close behave properly and activate xsecurelock.

@joshbowyer if you get a chance, please test with a newer PrawnOS release. I would like to ensure this is not a c100p specific bug.

[2020-12-16 02:47] espoelstra commented on #261
Your suspicions are correct, I used the Chrome Recovery tool to write the img (renamed .bin so it sees it) to a USB and then booted from the USB and did the encrypted installation to the microSD. Oddly enough the same process but without encryption works so it's maybe just a missed conditional on the encrypted installation block.

[2020-12-16 09:45] jonassmedegaard commented on #28
PureBrowser is no longer maintained: PureOS now ships with regular Debian-maintained Firefox ESR.

[2020-12-19 17:00] SolidHal commented on #28
@jonassmedegaard do you know how PureOS manages to get FSF endorsed while using standard Firefox ESR?

[2020-12-19 17:39] jonassmedegaard commented on #28
Quoting SolidHal (2020-12-19 18:01:10)

Only FSF can answer that question: Neither me nor PureOS nor fans of FSF
decides what FSF chooses to endorse.

I was previously hired by Purism to maintain a patched Firefox ESR
rebranded as PureBrowser.

I still do work for Purism, but doing other tasks now (e.g. packaging
web-apps for the matrix.org federated messaging network).

 - Jonas

--
 * Jonas Smed

[2020-12-20 19:41] espoelstra commented on #262
I tried just copying the kernel from the version I'd compiled but I'm guessing it wasn't properly signed as part of the compile process so it wouldn't boot. Since I didn't have any data on the microSD I just grabbed the image from the Github build and unpacked it and then wrote it to the microSD using Chrome Recovery Tool again and was able to boot, then I chose the Expand option to install. I hoo

[2020-12-20 19:46] espoelstra commented on #261
I need to test this again with the image that has the USB fixes, I'm wondering if there was another kernel config option that changed between arm64 and armhf for bob/gru that would have caused issues with the encrypted installation option.

[2020-12-22 03:17] SolidHal opened #265 "gru-kevin gnome lock screen freezes sometimes during wake events"
[suspend-lockscreen.log](https://github.com/SolidHal/PrawnOS/files/5727577/suspend-lockscreen.log)

[2020-12-22 03:38] chris00001 opened #266 "Hardware Support"
I see you've got support for a couple devices including:

https://www.thinkpenguin.com/gnu-linux/penguin-usb-bluetooth-40-micro-adapter-tpe-usbbluv4
https://www.thinkpenguin.com/gnu-linux/penguin-wireless-n-usb-adapter-gnu-linux-tpe-n150usb

There are a lot more devices that you should be able to enable support for, but don't appear to have done so. I'll list them below.

I also just want to say t

[2020-12-22 09:14] rk-zero commented on #266
I miss any sources to those claims, especially how thinkpenguin would buy from atheros directly. This would make a great blog post story or sth, but this all reads like a sales pitch for thinkpenguin.

F.e. regarding the AR9271, thinkpenguin wrote in an older description to the TPE 150 their model is a rebrand of this unex dongle: https://unex.en.taiwantrade.com/product/575975 - they sell at 11$ p

[2020-12-22 09:35] rk-zero commented on #266
@chris00001 Your last activity is on an apple cups driver about a label printer - i doubt you have any regards about "freedom" with the hardware you use and using a label printer is typical sales activity.

This is just spam advertising a reseller. Most of the products listed are already supported in PrawnOS (and any other somewhat recent distro) anyway.

[2020-12-22 09:44] rk-zero commented on #266
Account is most likely just founder of thinkpenguin.com Christopher Waid

[2020-12-22 13:34] Maccraft123 commented on #266
@chris00001
I don't think anyone would buy the devices just to flip one kconfig option.
If you really want support for those devices in PrawnOS make a pull request with those devices supported.
Also no ARM chromebooks support M.2 or mini-PCIe devices.

[2020-12-23 09:40] chris00001 commented on #266
@rk-zero

Wow- nobody claimed that. Most products are manufactured under contract. What's your beef? Seriously. That doesn't change the fact that Atheros worked with ThinkPenguin on the project:

https://www.fsf.org/news/ryf-certification-thinkpenguin-usb-with-atheros-chip

"rebrand of this unex dongle: "

Seriously? You have no idea what you are talking about nor how much time went into getting a

[2020-12-23 10:18] rk-zero commented on #266
More unbacked claims. Oh, FSF endorsed your dongle once (7 years ago), congrats. Yeah, maybe it was minifree selling the dongle with clear signs of rebrand. Still your dongle is a (surprise, using a label printer) rebranded unex dongle. You don't manufacture anything yourself, just sell what is already supported. No one owes you buying this shitty stuff.

I moved more $$ in hardware every a day th

[2020-12-23 12:20] chris00001 commented on #266
@rk-zero

I think I've realized why you reacted this way now. You're that crazy Romanian dude who sold the faulty adapters I was talking about above! You like tried to clone TP! Ha. I guess it didn't work out so well for you. Rather than trashing your competition maybe you could try being nice once in a while and IDK maybe you'd get funding for your own free software projects. Might help to move o

[2020-12-23 19:01] SolidHal commented on #266
Locking the issue for now while I try and sort out the myriad of claims made here. I don't appreciate the way this discussion is being handled. PrawnOS is not the place for this.
Will revisit this following the holidays.

[2020-12-23 19:58] #225 closed

[2020-12-23 19:58] SolidHal commented on #225
Using perf, I was able to narrow this down to the analogix_dp drm driver, which is responsible.

Here are some shots of the perf. Here is what the tree looks like when I move the cursor continuously:
![perf-cursor-continuous](https://user-images.githubusercontent.com/12972568/103032425-d8915e00-4514-11eb-8174-fb4f5e5e6b49.jpg)

And here is what it looks like when the cursor is moved intermittently

[2020-12-23 21:27] SolidHal commented on #261
Shouldn't be, I boot head of master PrawnOS on gru-kevin encrypted on emmc. I'll have to pour some time into this when I get some.

[2020-12-23 21:30] SolidHal commented on #262
@espoelstra

did you use the vmlinux.kpart or just the vmlinux? You should be using the vmlinux.kpart.
You also need to make sure to blank the kernel partition first, the script /etc/prawnos/kernel/FlashKernelPartition.sh will do all of that for you.

I think the script is setup to not reboot on expansion with no GUI, as there isn't really anything that requires a reboot.

Good to hear the origina

[2020-12-23 21:30] #262 closed

[2020-12-23 22:04] #259 closed

[2020-12-23 22:12] SolidHal commented on #235
this has filtered down to buster now, closing

[2020-12-23 22:12] #235 closed

[2020-12-23 22:13] SolidHal commented on #265
To recreate, let system suspend/lock while lid is open.

[2020-12-23 23:37] SolidHal commented on #265
recreated on blobby kernel with dptx blob for "sane" comparison:
log:
[blobby-suspend-log-gru-kevin.txt](https://github.com/SolidHal/PrawnOS/files/5737477/blobby-suspend-log-gru-kevin.txt)

[2020-12-23 23:41] SolidHal commented on #265
Issue recreation steps:

1) Boot system, wait 60 seconds
2) manually suspend system with the lid left open
3) wait ~15 seconds
4) press a key to wake the system
5) observe backlight turn on, but no other signs of life on the display
6) wait 1-2 min
7) observe backlight turn off
8) press a key to wake system
9) observe expected lock screen

[2020-12-24 00:49] SolidHal commented on #243
from @Maccraft123 s Cadmium: https://github.com/Maccraft123/Cadmium/blob/master/build-all#L44-L46
this also needs cmdline change, to set root parameter to: root=PARTUUID=%U/PARTNROFF=2

also, need some way to track which kernels from which packages are in which partitions, since uname -r isn't precise enough to tell us the full package version.

[2020-12-24 01:04] SolidHal commented on #243
Could update the partitions labels as well when using cgpt to change the priority, put the kernel image package version in the label

thanks to @Maccraft123 for suggestion partition labels :D

[2020-12-24 02:35] SolidHal commented on #265
spent too long trying to trace the behavior with perf. Couldn't recreate the issue while running perf. Seems to be some kind of race condition

[2020-12-24 03:01] #266 closed

[2020-12-24 04:16] espoelstra commented on #262
Ahhh, good call, I'm not sure if I used the kpart. I'll see if I still have it sitting on the disk and give that a try since I think I tweaked another kernel option to see what it would do.

Looking forward to trying out PrawnOS on my other ARM systems soon.

[2020-12-28 13:01] jonassmedegaard opened #272 "please only track *source* in git"
700 MB PNG files in filesystem/resources/logo/icons/OtherColors? Really?
Please use SVG as source and keep *only* source in git - Inkscape is a wonderful tool for that.

180 MB tarballs in filesystem/packages? Really?
Please instead track each of those (only!) as a separate git, imported with `gbp --import-orig --pristine-tar` part of the `git-buildpackage` package.

[2021-01-01 05:30] spoelstraethan opened #273 "v1.3.1 armhf exhibits a lot of errors after expansion and installation of the GUI (Xfce)"
I'm testing on a recently acquired C100P (I've got one of most the ARM based Chromebook models at this point) and running into some weirdness.

I did a flash of the armhf to a microSD and then enabled USB boot and rebooted and used Ctrl+U and then chose the expansion installation option and then installed the GUI but after a reboot it appeared frozen. I _was_ able to change to a VTY and stop light

[2021-01-01 05:36] spoelstraethan commented on #273
I'm currently grabbing the image from #269 to see whether the changes pushed since v1.3.1 help at all. I was going to try the blobby image but it appears that currently isn't saving the artifacts as part of the build.

[2021-01-01 09:10] austin987 commented on #273
That's correct, PrawnOS is explicitly no blobs, so distributing blobby builds doesn't exactly fit with that idea :).

Try the artifacts from https://github.com/austin987/PrawnOS/actions/runs/453618559, it fixes a few different regressions I've seen in the last few days (note: I only tested with xfce).

[2021-01-02 17:35] spoelstraethan commented on #273
I'm seeing the same errors in that build, but oddly after running `systemctl disable lightdm` the next time I booted it still started, but it must have been triggered by another process and it actually worked correctly (though there still appear to be some errors happening in the background).

The possibly bigger issue with the "working" change, was that even though I chose the graphical installat

[2021-01-05 23:57] dashaub opened #274 "Enable AppArmor Support"
[code]

Looks like the kernel might need some customized flags enabled in the build.
[code]

[2021-01-13 17:41] gregordinary opened #277 "Internet connection required during Gnome 3 desktop install"
Fresh build of PrawnOS from latest git (plus fixes in #276). Did the following:

1. Ran InstallPrawnOS
2. Chose (E)xpand
3. Chose Y to install a Graphical Desktop Environment
4. Selected (G)nome

At some point during the install process it attempts to install xterm and returned an error that it couldn't resolve ftp.us.debian.org. The previous few installs I've had an ethernet cable attached so I t

[2021-01-13 18:29] spoelstraethan commented on #236
I've also discovered that Balena.io has some Docker images that include qemu-user-static and have an option to register different containers as a provider for the binaries for different architectures, so you aren't necessarily limited to what is available/maintained for your host OS either (like LTS versions not having a newer version with more patches etc).

[2021-01-13 23:23] gregordinary commented on #258
@SolidHal - I tested this out on a fresh build  and unfortunately, it still doesn't prompt for user creation after choosing Expand followed by Gnome for a DE.

[2021-01-13 23:33] spoelstraethan commented on #19
Debian keeps non-free in a separate target that isn't enabled by default, are you referring to additional blobby or proprietary software beyond what Debian considers non-free?

[2021-01-13 23:54] spoelstraethan opened #279 "Latest release doesn't seem to boot from USB properly on CS10, but after a chroot and apt upgrade, it does?"
I've used this set of steps to "rescue" installations for ArchLinuxARM and PrawnOS (and other distros like Ubuntu to repair things if there is something funky with the kernel or initramfs and it doesn't boot properly).

[code]

[2021-01-14 23:02] gregordinary opened #280 "Cannot install to emmc to c201"
Latest build from git, choosing the option to install to the emmc on the c201 results in the following error:
[code]
![IMG_20210114_161037](https://user-images.githubusercontent.com/33880035/104653841-3551e580-5689-11eb-80de-98adcb21b44a.jpg)

A bit out of my comfort zone, but I believe the code from [get_emmc_devname](https://github.com/SolidHal/PrawnOS/blob/c905b0178cd6eff2e888b8a8cc80a453865d77

[2021-01-14 23:08] austin987 commented on #280
Try https://github.com/SolidHal/PrawnOS/pull/268/commits/bf639d77685751b82c469b78c2a378866a479a8e

[2021-01-14 23:32] gregordinary commented on #280
Thanks!

[2021-01-14 23:32] #280 closed

[2021-01-15 12:19] raghavgururajan commented on #28
Mozilla Firefox can be replaced with [GNU Icecat](https://www.gnu.org/software/gnuzilla/).

Google-Chromium can be replaced with [Ungoogled-Chromium](https://github.com/Eloston/ungoogled-chromium).

[2021-02-16 23:37] cvmiller commented on #265
I see this occasionally as well. Quite by accident, After wake up I saw the desktop was visible, but nothing responded (no mouse, no clicks). I typed in my password (to unlock the screen) and it "unlocked" and I could use the desktop/mouse/etc.

[2021-02-16 23:41] cvmiller commented on #155
Sorry to be so long before I got back to this. I am running PrawnOS 1.3.1

I see what looks like kernel headers in /usr/src/linux-5.9.12-gnu/include

When I attempt to compile a RTL88xx Wifi dongle driver I get the following error:
[code]

Any pointers on how to proceed? TIA

[2021-02-17 07:52] rk-zero commented on #155
you can simply change the lib modules build path to the usr src one (omit include).
https://github.com/RinCat/RTL88x2BU-Linux-Driver/blob/afc917d82f3c4306e057e42b2b4708edc1f81839/Makefile#L1309

its hardcoded in the makefile of your driver.

What you have there is a path expected if you compiled the kernel from sources before but we only ship the modules for easy use of dkms stuff.
If you cannot m

[2021-02-17 07:53] rk-zero commented on #155
still, dont get me wrong, but a compatible wifi dongle is 7$

[2021-02-18 17:33] cvmiller commented on #155
Thanks for the pointrs @rk-zero , I "fixed" the KSRC line as per your suggestion, but I get a similar error: no rule to make target modules. I'll try your second suggestion of building PrawnOS.

I tried to get an inexpensive compatible Wifi adapter. I now have two incompatible wifi adapters, and so I am back to trying to compile modules again. One of my Wifi adapters has 5 Ghz (the RTL one) and I

[2021-02-18 18:23] cvmiller commented on #155
It would appear that is not possible to build PrawnOS on PrawnOS :(
[code]
Perhaps the DKMS directory structure could be included in the _next_ release of PrawnOS?

[2021-02-18 18:28] austin987 commented on #155
Have you installed the required dependencies?

[2021-02-18 19:13] cvmiller commented on #155
Apparently not. But let me go back to the original problem/issue. **One can not build kernel modules with the current release (1.3.1**). The build directory structure doesn't exist. The kernel is not a Bullseye Kernel, so the user can't use apt-get to get the kernel headers from the repo.

Please consider this a Feature Request, that would allow users to natively build kernel modules on PrawnOS (l

[2021-02-19 05:21] austin987 commented on #155
Sure, I think the request is valid (though it's not my call to make).

My comment was mostly to unblock you/anyone else that comes across the report. I haven't tried it recently, but I have built PrawnOS under PrawnOS in the past, so it should work (IF you install the dependencies first, as stated in the README.md)

[2021-02-20 23:22] joshbowyer opened #282 "Add blobby kernel to APT repo"
So forgetting that I had my repo set to Prawn, I did an apt upgrade which wiped my blobby kernel (with BCM4354 wifi driver). It would be nice to have that blobby kernel with that driver built in the repo (once installed manually, thereby preserving your FSF endorsement) one could apt-mark linux-$(version) kernel package and an upgrade would only look for updates to linux-$(version)-blobby, thereby

[2021-02-20 23:24] joshbowyer commented on #282
@austin987 tagging for visibility

[2021-02-22 05:02] austin987 commented on #282
IMO it's ready, pending a decision by SolidHal. At least I'm happy to work towards it, if they're okay with it.

[2021-03-11 03:31] lluixhi opened #283 "Failing to build on Latest bullseye"
Keyring isn't missing, any ideas on why it's failing?

[code]

[2021-03-11 08:37] austin987 commented on #283
I haven't dug into it deeply, but it looks like debootstrap changed.

Try https://github.com/austin987/crawfishos/commit/d7b79c84caece4d4c3ff3a3080d82c7089cbab8a

[2021-04-05 21:00] kapouer commented on #6
@gregordinary you were actually very close to getting it to work: just add to `/etc/pulse/default.pa`
[code]
and then hdmi output works and automatically switches from internal to hdmi when plugging cable.
(on c201).

[2021-04-24 17:01] cracket commented on #282
Sorry for hijacking this issue discussion, but I'm trying to understand how to use PrawnOS with blobby wireless driver BCM4354 in Asus C100 (installation, configuration etc.). Is there any howto or docs which I can follow? @austin987

[2021-04-25 03:10] austin987 commented on #282
I don't have an Asus C100, so I can't say (and FYI, PrawnOS doesn't support blobby wireless).

[2021-04-26 14:52] peter-marshall5 commented on #282
I got the internal wifi card working on my Asus C201 with the blobby kernel by enabling the BCM4354 driver as a loadable module in the kernel config and setting it to support the SDIO bus. I then had to add the firmware files to /lib/firmware/brcm: brcmfmac4354-sdio.bin from the package firmware-linux-nonfree and brcmfmac4354-sdio.txt which I downloaded from https://chromium.googlesource.com/chrom

[2021-04-26 21:35] peter-marshall5 commented on #282
@cracket I actually compiled the PrawnOS kernel myself by running `make BLOBBY_BUILD=1 TARGET=armhf kernel_config` to configure the kernel and then `make BLOBBY_BUILD=1 TARGET=armhf` to build PrawnOS with the blobby kernel. I also had to uncomment line 90 in scripts/BuildScripts/KernelScripts/buildKernel.sh so that it would build loadable modules (I had configured the kernel to build the wi-fi dri

[2021-04-27 06:15] spiralw opened #284 "Possible to build PrawnOS into a ChromeOS recovery image?"
Hi, I have a Librebooted C201P and I broke my PrawnOS install while having USB boot disabled. Google's official ChromeOS recovery images don't work (something about needing to run `cgpt repair` because the GPT headers are invalid, [screenshot](https://user-images.githubusercontent.com/64013111/116191938-0ab20700-a725-11eb-8cb5-fa1e439dde87.jpg)).
As far as I understand, recovery images are validat

[2021-04-27 12:03] tehbra1n commented on #284
This might not be exactly what you're looking for, but I always have a ton
of trouble doing ChromeOS recovery on any Chromebook.  I believe that the
process can be very finicky about the SD card/USB thumb drive used.  I end
up having to grab a ton of different media and trying it repeatedly using
different machines to write the recovery media and different SD cards/USB
drives until the recovery ac

[2021-05-04 00:05] gregordinary opened #285 "Use free firmware-ath9k-htc package from Debian instead of building from source"
Debian now has "[firmware-ath9k-htc](https://packages.debian.org/search?keywords=firmware-ath9k-htc) - firmware for AR7010 and AR9271 USB wireless adapters" in the repository for bullseye and sid. Can this be worked into the build process to save time compiling?

[2021-05-06 00:08] cracket commented on #282
@peter-marshall5 thank you for hint - it saved me a lot of work. Just curious if you were able to make bluetooth working?
I'm searching now all c100 available distributions and looks like all have issues with broadcom bluetooth.

[2021-05-06 11:19] peter-marshall5 commented on #282
@cracket I'm glad I was able to help. Unfortunately, I wasn't able to get bluetooth working when I enabled the bluetooth drivers in the kernel. However I didn't play around much with this since I don't use bluetooth on my chromebook.

[2021-05-08 19:25] dnowen commented on #282
hi @peter-marshall5 can you explain further in detail how you used the blobby kernel to enable the BCM4354 driver as **_loadable module_** in the **_kernel config_** to support SDIO bus? I am a beginner with no clue how to add blobs to make internal wifi work. I tried this fork project [ShrimpOS](https://github.com/Maccraft123/ShrimpOS) (that includes the wifi blob) but it wont boot because it has

[2021-05-10 14:07] peter-marshall5 commented on #282
@dnowen To add support for the internal wifi card to PrawnOS, you will need to compile it yourself on a Debian system. This process is fairly involved and there is a chance of running into errors.

First, you will need to clone the github repository:
`git clone https://github.com/SolidHal/PrawnOS`

You will then need to enter the project directory:

`cd PrawnOS`

After that, you need to run this t

[2021-05-10 17:51] dnowen commented on #282
wow! I did not see this either. I will check this out. I also was referred to this [Cadmium](https://github.com/Maccraft123/Cadmium) for the C201P...however there are no releases for veyron_speedy yet. And I have no I am realizing now I cannot build these myself, I am getting tons of errors on the old Thinkpad I have with debian distro. I think because it needs to be built on an arm ? I dont know

[2021-05-10 19:11] peter-marshall5 commented on #282
@dnowen Wow, I didn't know about Cadmium either. I'm going to try building it and running it on my Chromebook to test the graphics performance since the Panfrost driver isn't exactly stable yet.

[2021-05-10 19:17] austin987 commented on #282
Never tried, I don't use bluetooth.

[2021-05-10 21:55] dnowen commented on #282
let me know how it goes because I cant get audio now on Crawfish either, wifi works though which is good

[2021-05-11 14:43] peter-marshall5 commented on #282
I just built Cadmium successfully and it booted on my C201. I can post my image if you want it. Wifi works out of the box but I'mnot sure aout sound and Bluetooth yet.

[2021-05-11 15:33] dnowen commented on #282
@peter-marshall5 that would be great if you can post your image (maybe to your git?). Thank you!
From what I gather from the developer, he said it should _all work_, he just didnt do a build release yet.

[2021-05-11 19:14] peter-marshall5 commented on #282
Github wouldn't let me upload files larger than 25mb so I uploaded it to my Google drive: https://drive.google.com/file/d/1axI_FQr6F2ciA0-Euprm2_Q9VzxCMb87/view?usp=sharing

Sound and bluetooth weren't working out of the box on Cadmium but maybe you need to install to the internal storage for it to work. I got sound working on my PrawnOS install by running a script I found online one time that cha

[2021-05-12 02:57] dnowen commented on #282
Thanks, downloaded the image, ill flash it now!

[2021-06-05 18:28] cracket opened #286 "synaptics touchpad right button is not working on c100 (veyron minnie)"
I have noticed the right button is emulating left button.
After some research my attention was drawn by
https://github.com/SolidHal/PrawnOS/blob/master/filesystem/packages/prawnos-xfce-config/src/30-touchpad.conf

which has no entry for synaptics and using libinput only. This is strange, because with x11 comes package  xserver-xorg-input-synaptics which provides driver synaptics_drv.so and sample

[2021-07-06 21:36] spiralw opened #287 "Can't mount exFAT filesystem"
I'm trying to mount a SD card and I get the error message `unknown filesystem type "exfat"`. `exfatprogs`, `exfat-utils` and `exfat-fuse` are installled; I tried to `modprobe fuse` but that gives an error `can't change directory to '5.9.12-gnu-PrawnOS': No such file or directory`. What am I doing wrong?

[2021-07-07 18:41] #284 closed

[2021-10-21 20:54] JeremyRand opened #293 "libpulse0 dependency conflict"
# Version

v1.3.1 + cherry-picked #289 #259 2d18ac28 #290 #291

# Device

Asus C100

# Steps to reproduce

1. Run install script.
2. Choose "Expand".
3. Choose XFCE.

# Expected results

XFCE should install.

# Observed results

[code]

[2021-11-27 22:02] ncorder commented on #28
@solidhat I ran a small organization called the EPuters Project.

We would most likely be able to aid in basic hosting of repositories ( up to about 500GB ) until your project matures more as long as you are seeking FSDG compliance.

Let me know if that would interest you, you can email me at admin@eputers.net .
I would also highly advise the project move away from Github to [NotABug](https://nota

[2021-12-01 06:14] AD7ZJ opened #294 "devfreq ffa30000.gpu: Couldn't update frequency transition information."
I am getting tons of errors like this in /var/log/syslog, and occasional odd video artifacts. The errors seem to mostly show up when I'm typing on the keyboard, and it temporarily halts the keystrokes from being input. You can be typing full speed and a few characters will show up, and then it'll hang for a few seconds, a bunch of these errors get dumped, and then the keystrokes show up.

It's an

[2021-12-01 06:17] AD7ZJ commented on #294
![20211130_230106](https://user-images.githubusercontent.com/1594845/144182048-466d2b13-08d7-4435-8921-281059f94fdb.jpg)
Sample of a video artifact

[2021-12-01 06:31] AD7ZJ commented on #294
Nov 30 23:28:32 PrawnOS kernel: [ 2386.337222] Purging 3952640 bytes
Nov 30 23:28:32 PrawnOS kernel: [ 2386.356120] panfrost ffa30000.gpu: gpu sched timeout, js=0, config=0x3300, status=0x8, head=0x5ba8b80, tail=0x5ba8b80, sched_job=90fc5512
Nov 30 23:28:32 PrawnOS kernel: [ 2386.363657] Purging 4198400 bytes
Nov 30 23:28:32 PrawnOS kernel: [ 2386.400304] devfreq ffa30000.gpu: Couldn't update freq

[2021-12-01 06:49] AD7ZJ commented on #294
So, after upgrading all the packages, which did install a new kernel, this problem seems to have gone away. I do still see the "Purging XXXXXX Bytes" messages occasionally but maybe that is normal. I am now at this kernel version, I did not think to look at what was there in the initial install.

Linux PrawnOS 5.10.1-gnu-PrawnOS #1 SMP PREEMPT Tue Dec 15 19:20:04 PST 2020 armv7l GNU/Linux

[2022-01-26 10:57] fljon opened #295 "Android-tethering doesn't work. Maybe missing rndis_host."
Can't connect to the internet with tethering. Maybe the rndis_host module is missing.
Device (Fairphone3) shown with lsusb:
Bus 001 Device 008: ID 18d1:4ee1 Google Inc. Nexus/Pixel Device (MTP)
But it isn't shown as networkdevice (usb0).
Tethering works on my Thinkpad.
Also tethering works on the installationsimage PrawnOS Shiba v1.3.1.
After an Update it's missing.
It would be nice if you can rea

[2022-02-27 17:47] James-h143 commented on #190
i have C100P, i have "Error: No Wi-Fi device found." when running the nmcli command on the readme

[2022-03-12 13:07] duvh93 opened #297 "Display colors messed up after resume from suspend"
Clean install on a two different librebooted veyron-speedys
Running Gnome on Wayland

Steps to reproduce: at any time suspend and then resume the session by clicking the power button

What happens seen before login at gdm:
https://user-images.githubusercontent.com/27040437/158018958-90353a43-0d08-4b2c-8eae-351cf77c02c1.mp4

before suspend appearance:
![20220312_131756](https://user-images.githubus

[2022-06-04 20:40] yoonsikp commented on #282
New Kernel build if anybody is interested

https://github.com/yoonsikp/PrawnOS/releases/tag/v5.15.6

[2022-06-05 04:14] jasonkfirth opened #298 "deb.prawnos.com signature verification failed"
I just installed prawnos on my C201p and used a USB ethernet dongle to connect to the Internet. I can't update the prawnos specific packages because I get a signature verification failed message. I think perhaps expired signature? I went to the website and ran the suggested command line for updating the key, but that did not change anything (it actually said "no change")

[2022-06-10 06:53] ericfont commented on #298
Also chiming in...I installed it a few weeks ago, and `apt update` was working fine, but today I tried to do `apt update` but got the EXPKEYSIG error:
[code]
The rest of the regular ftp.us.debian.org repos were accessed fine.

[2022-06-12 12:44] jjustra commented on #298
Same here .. cannot update. `apt-key list` says :
[code]

[2022-06-15 01:25] jjustra commented on #298
Hmm ... https://deb.prawnos.com/dists/bullseye/InRelease file contains ``Date: Wed, 16 Dec 2020 03:57:44 UTC`` ... I am by far not versed in these files, but maybe there is nothing to update from. And as I see now, merges halted in 2020 .. so this distro is probably not in active development anymore ?

[2022-07-25 23:25] SolidHal commented on #298
Sorry, I'm working on getting a new release out with a fix for this. For now you can just remove the repo from your `/etc/apt/sources.list` to get rid of the annoyance

[2022-07-26 02:27] SolidHal commented on #298
Alright, I published a new signing key and re-signed the available packages
You may have to re-add the public key using the instructions at https://deb.prawnos.com/ if you still see issues

[2022-07-26 02:31] #294 closed

[2022-07-26 02:33] SolidHal commented on #285
Oh, thats super cool, definitely

[2022-07-26 04:28] #252 closed

[2022-07-26 04:30] SolidHal commented on #283
This has been fixed for a bit, closing

[2022-07-26 04:30] #283 closed

[2022-07-26 04:37] #273 closed

[2022-07-26 04:38] SolidHal commented on #272
While this would definitely be nice, I doubt I'll get around to changing this anytime soon so I'm closing for now.

[2022-07-26 04:38] #272 closed

[2022-07-26 05:21] SolidHal opened #300 "Clock not set automatically when using gnome, resulting in HSTS errors until the user sets the time"
Setting the time automatically requires enabling "location services" which is not something we want on by default, provide a way to set the time during install to avoid this

[2022-07-26 08:10] jjustra commented on #298
Thanks a lot, works perfectly.

[2022-07-27 19:18] SolidHal opened #301 "Review held kernel patches, investigate additional kernel patches"
see some here https://github.com/urjaman/linux-for-my-autobuilder/tree/linux-kbb-c201-stable
some mentioned in https://github.com/SolidHal/PrawnOS/pull/299/files

[2022-07-27 20:17] Maccraft123 commented on #301
There's also https://github.com/Maccraft123/Cadmium/tree/master/kernel/patches

[2022-08-05 17:30] wehkah opened #302 "Supported devices"
Hello!

The list of supported devices is very... clearly arranged. There are just 5 devices listed.

Is there any chance that PrawnOS will (ever) run on a Lenovo Duet? I am not specialized in hardware, but as much as I know, this device has an ARM64 CPU, so to my simple mind, this means it doesn't differ much from the two ARM64 models listed.

On the other hand: naively, I downloaded the ARM64 ima

[2022-09-02 19:18] kapouer commented on #301
Hi, i've been playing a lot with my veyron/speedy c201 chromebooks (i have three of them),
up to the point it's possible to install debian/bookworm, and thanks to libreboot and depthchargectl,
it's possible to install mainline debian armmp-lpae packages and get gnome running pretty smoothly.
With three reserves:
- kernel command line must have "gpt rootwait"
- blacklist btsdio
- emmc still takes a

[2022-09-02 19:19] kapouer commented on #301
Well actually there's a fourth point, a PITA, sometimes wakeup from suspend won't work.

[2022-09-04 09:41] realdaly commented on #190
I have c100p and I cannot connect to wifi, the network window says no network devices
my version is PrawnOS Shiba v1.3.2, Jul 28, 2022

[2022-09-04 09:49] realdaly opened #303 "Asus Chromebook C100P problem with wifi connection"
I have c100p and I installed PrawnOS on external SD Card (the same SD Card I used to build the image to), the installation process went just fine with no errors, but after the system is done installing (graphical environment) I tried to connect to wireless network but it seems like there's no WiFi driver or something because the network window says "No network devices available".
The version I ins

[2022-09-05 04:44] SolidHal commented on #190
What wireless adapter are you using? Does anything show up under lsusb?

On September 4, 2022 4:41:12 AM CDT, Mohamed Majid ***@***.***> wrote:

[2022-09-08 14:54] Sharelter commented on #303
Maybe because PrawnOS is an operation system which aims to be "pure free" , and the driver of wireless module is non-free.
PrawnOS disableed the loading of non-free firmware, if you check the output of `dmesg`, you may find message about it.
( The README of this project claimed that [C201](https://github.com/SolidHal/PrawnOS#build-the-wifi-dongle-into-the-laptop)  model need a usb wifi dongle to c

[2022-09-08 14:57] Sharelter commented on #303
I use C101P and the wifi hardware is from marvell .
You can use lsusb or lspci to check if there is a hardware looks like a wifi module :)

[2022-09-08 15:01] Sharelter commented on #295
This problem also occurred after I installed PrawnOS on my C101P machine.
I also tried use a usb eth adapter but still not work.
The usb eth adapter only works when I plug this before I boot up.

[2022-09-10 16:19] realdaly commented on #303
Yeah I just read that after I opened this issue haha, I didn't know it was intentionally disabled at first.
As for Arch Linux, I've tried many times to install it on my Asus C100P, everything goes just as the instructions say, but when I try to boot into Arch it gets stuck at some "network configuration" and I found many people suffer from this same issue.
I tried the pre-built Kali images and the

[2022-09-10 16:45] realdaly commented on #190
I guess I was using an unsupported wireless adapter

[2022-09-11 01:16] Wooty-B opened #304 "Instructions on Enabling Internal WiFi"
I am well aware of the other posts on this, but requests for this have been ongoing for years with no interest from the maintainer. The problem is VERY few Debian installations work for the C201p platform. I am trying to get Cadmium working but a critical package is broken I need.

The problem is many of us are beginners trying to learn on ARM, and the ARM SoC arena usually has specific quirks to

[2022-09-11 01:26] Wooty-B commented on #282
@yoonsikp line 39: Unknown device! Can't determine emmc devname. Please file an issue with the output of fdisk -l.

I don't have internal WiFi or an ethernet dongle and fdisk doesn't come prepackaged with PrawnOS. Please advise!

[2022-09-11 02:38] Wooty-B commented on #282
@peter-marshall5 What happens when you try and install ca-certificates-java under Cadmium? I always receive a segmentation fault breaking all Java packages. Thanks!

[2022-09-11 14:07] rtsn commented on #304
Hey I've had similar experiences as you and I eventually gave up on PrawnOS after finding the fork https://github.com/austin987/crawfishos

I believe the fork is dead and I haven't dared to run apt upgrade but at least it works.

[2022-09-14 07:24] Sharelter commented on #303
emmm...
lspci is a command utility to show your devices on the PCIE bus.
When U boot into the freshly installed archlinuxarm, and logged in. Just type `lspci` and hit enter to see the output.
I temporarily used "usb network-sharing" with my phone to get network access before network configuration is finished.
U can also try it ~

[2022-09-14 08:10] realdaly commented on #303
Okay thank you so much🌹  I'll give it a try

[2022-09-15 02:01] Wooty-B opened #305 "Asus C201p Sound Issue"
I have been playing around with PrawnOS and Cadmium, trying to understand the devices on this platform. When I installed the most recent version of PrawnOS, I noticed sound was not working out-of-the-box and started browsing these two issue trackers. Need to see if other C201p owners are having sound issues on PrawnOS, and if so, the below is the remedy to this (Thanks, @peter-marshall5!!!):

[cod

[2022-09-16 07:43] austin987 commented on #304
I wouldn't say it's _dead_, but PrawnOS was dormant for a while, so there wasn't much to do.

Since PrawnOS has updated, I've been busy, and no one has offered to help, so yeah, it may take a while.

That said, apt upgrade should mostly be fine, aside from the kernel. Upgrading that will wipe out the wifi blob.

[2022-09-18 13:53] Wooty-B opened #306 "Asus C201p Mouse Only Left-Click"
Touch-pad is only registering left-clicks, and can't seem to enable the right mouse button. Not sure if this is a "feature" of PrawnOS but if it is there is no information on the right-click modifier key.

How do I enable the right mouse button?

[2022-09-22 19:36] cracket commented on #303
@realdaly  just to correct - C100P does not have any pci, you can use either builtin dual wifi+bt card or try to plug in external wifi via usb, so I'd rather suggest lsusb (or maybe lsmod if you want to list loaded kernel modules).

If you still want to use builtin WiFi card you can leave PrawnOS running, and just replace kernel with modules& firmware to the one supporting non-free drivers. As far

[2022-09-27 08:27] realdaly commented on #303
As I said to @Sharelter I'm a complete beginner in linux and Idk how to build images or anything, in fact I use windows but because c100p supports only linux so I'm looking for a new working image (idc if it was prawnos or anything else)
I tried old kali images but when I run "apt update && apt upgarde" the system stops loading and I can't boot to it anymore.
Couldn't install Arch linux as well, I

[2022-10-01 14:23] cracket commented on #303
if you like PrawnOS installation, and you are running system from microsd card,  switching to blobby kernel with WiFi driver should be easy with following steps:
- obtaining kernel image (single binary file) and modules directory of blobby kernel
- overwriting partition with kernel image (make sure new image is not bigger than a partition size) with dd
- copying into /lib/modules  kernel modules w

[2022-10-01 14:24] cracket commented on #306
duplicate of #286 ?

[2022-10-03 12:04] realdaly commented on #303
@cracket thanks a lot man! I will definitely give it a try.

[2022-10-04 20:49] peter-marshall5 commented on #282
[https://github.com/SolidHal/PrawnOS/pull/308](https://github.com/SolidHal/PrawnOS/pull/308)

[2022-10-05 04:51] Wooty-B commented on #306
@cracket This is in-fact a duplicate, and I was able to resolve with steps in that thread. Closing, however may be useful to add to C201p install config in the future.

[2022-10-12 11:05] qinsus opened #309 "experience:Easy to flash kernel (WiFi work)"
Flash Steps
1. Use the root user to enter the system
2. Copy FlashKernelPartition.sh&vmlinux.kpart to the system desktop with a USB drive.
3. Open the terminal, drag FlashKernelPartitio.sh and vmlinux.kpart and press enter to wait for the kernel flash to complete.

The prawnos version is shiba 1.3.2 ，kernel version is 5.15.6

The WiFi kernel is 5.15.6 and provided by @yoonsikp

The FlashKernalPart

[2022-10-14 08:09] IamHuskar commented on #99
hello . is there any progress on  kernel 4.19  with panfrost ?
I find a repository here.
https://gitlab.freedesktop.org/panfrost/linux/-/tree/panfrost-4.19
 but I don't know whether if it works well

[2022-10-20 11:52] cocojamb0 commented on #305
I've been experiencing a certain form of this issue myself - audio through headphones but not through the speakers.
For info, I'm using i3 window manager and rather than one of the graphical environments offered during the PrawnOS installation, and pulse for audio.

I'll try your fix when I'm home - thank you for adding this information.

[2022-10-20 18:12] Wooty-B commented on #305
Don't hesitate to update with your results. I will be actively working on several ARM projects this weekend and more than happy to help troubleshoot through this.

[2022-10-21 07:44] cocojamb0 commented on #305
Hi again - I tried out your fix! I'm still not getting audio through  the speakers unfortunately, although the audio through the 3.5mm jack connector is still a-ok and capable of driving my Beyerdynamic DT-150 headphones

[2022-10-21 19:49] SolidHal commented on #303
@realdaly you can build PrawnOS with a blobby kernel if you'd like by passing `BLOBBY_BUILD=1` to `make`
though this is unsupported, so I make no promises of its functionality

closing this issue for now since its not a PrawnOS bug/issue

[2022-10-21 19:49] #303 closed

[2022-10-21 19:54] SolidHal commented on #282
Closing this issue as I have no plans to expand "official" support for the blobby kernel. The blobby kernel is offered for users that really want to build their own images, and for developer testing, but is not supported.

I'm happy to accept a PR to fix the issue where the blobby kernel gets updated by a non-blobby kernel package.

[2022-10-21 19:54] #282 closed

[2022-10-21 19:56] #306 closed

[2022-10-21 19:56] #309 closed

[2022-10-21 19:58] SolidHal commented on #99
@IamHuskar panfrost has long been supported by PrawnOS in the 5.x kernels . PrawnOS doesn't offer support for 4.19 anymore.

[2022-10-21 20:09] SolidHal commented on #304
@Wooty-B
As I mentioned on a related issue, you can build prawnos with a blobby kernel yourself by adding `BLOBBY_BUILD=1` to the make command. crawfishos is another alternative if you can't/won't do that yourself.

Its not a lack of interest, it would be counterproductive to  the goals of this project. PrawnOS is intended to be as blob free as possible. Publishing a release with blobby wifi would

[2022-10-21 20:09] #304 closed

[2022-10-21 20:13] SolidHal commented on #302
@wehkah likely not, unless someone with the device works to add support. I don't have the hardware. The black box security chip added to the machine severely reduces my interest in it.

[2022-10-21 20:13] #302 closed

[2022-10-23 00:37] gregordinary commented on #305
Just downloaded and installed the latest pre-built PrawnOS image.

1. I can confirm I have no sound through the speakers (Installed default XFCE).
2. I know speakers worked previously so this shouldn't be a hardware issue.
3. I tried both fixes from @Wooty-B - Unfortunately still no sound.

I also looked through the [InstallingDebianOn](https://wiki.debian.org/InstallingDebianOn/Asus/C201#Audio) d

[2022-10-23 20:12] gregordinary commented on #6
Revisiting this, thank you for the guidance @kapouer

1. Built PrawnOS from source, since it's now using 5.15.6, I didn't apply the patch from 5.5 mentioned in my previous comment. I did however, enable CONFIG_SND_SOC_RK3288_HDMI_ANALOG in the config.
2. After building and installing XFCE, I modified `/etc/pulse/default.pa` to contain `load-module module-alsa-sink device=hw:0,1`
3. Reboot after mo

[2022-10-23 20:42] kapouer commented on #6
See also https://github.com/alsa-project/alsa-ucm-conf/issues/208

[2022-10-23 22:17] gregordinary commented on #6
Unfortunately same behavior with the updated .conf file.

I came across that .conf while troubleshooting the [other sound-related issue](https://github.com/SolidHal/PrawnOS/issues/305#issuecomment-1287961947). Not sure if it would behave any differently under different kernels or Debian release versions. Some chance it's also something with my chromebook, I haven't used HDMI audio much at all on t

[2022-10-23 22:20] kapouer commented on #6
I think choppy sound is fixed in more recent versions of linux, or pulseaudio, I don't know which. Or maybe with pipewire/wireplumber. In any case, give a few weeks and use latest releases.

[2022-10-24 07:40] austin987 opened #311 "blobby kernel sources are not available in .lz format"
https://github.com/SolidHal/PrawnOS/commit/95f251c53a88d87b323deb30f764e7c152abb2dc switched the blobby kernel to using .lz, but https://cdn.kernel.org/pub/linux/kernel/v5.x/ (aka KERNEL_BLOBBY_URL) doesn't have any archives in .lz format.

[2022-10-24 07:56] austin987 commented on #311
My immediate fix was:
[code]

but wanted to check with you before spending more time on a PR :)

[2022-11-04 19:53] Stormwoodpecker commented on #305
Using the updated ucm2 conf seems to resolve the speaker issue here, may be worth manually adding it to the image until the eventual rebase to bookworm

[2022-11-07 12:01] cocojamb0 commented on #305
For my own clarity, are you copying the [conf listed above ](https://github.com/alsa-project/alsa-ucm-conf/blob/a8796fc159d94131f032f9611005d304361edd11/ucm2/Rockchip/max98090/HiFi.conf) and placing it in /usr/share/alsa/ucm2 ?
I tried that and sadly it did not work for me, though headphone audio still worked.

[2022-11-07 12:59] Stormwoodpecker commented on #305
Yes, using that config. I think the only important deviation is that I'm using mainline kernel 5.15.76 instead of the default 5.15.6.

There may have been relevant changes to ucm2 so it may be worth trying against a newer kernel ver and see if it can be repro'd

[2022-11-07 18:53] peter-marshall5 commented on #305
I can confirm that the updated conf is working on Linux 6.0. Although I'm still having the issue where a reboot is required for the internal microphone to work after switching to the headset microphone.

[2022-11-18 11:16] cocojamb0 commented on #305
I'll be honest, I haven't manually upgraded to a newer kernel on a system without a GRUB configuration before - how would I do that in this case? I've got a newer kernel version in the /boot sector but it's just the generic armhf kernel image rather than a PrawnOS 6.0 kernel.

Does anyone have any resources on how to achieve updating to a new kernel on PrawnOS, or the patience to instruct me in it

[2022-11-19 01:30] peter-marshall5 commented on #305
Arm Chromebooks use a bootloader called Depthcharge that's built into the system firmware. The depthcharge payload requires a specially formatted and signed kernel to be written to a certain partition I wrote a nice guide [here](https://github.com/SolidHal/PrawnOS/issues/282#issuecomment-836746297) on how to compile and boot your own blobby kernel for PrawnOS.

[This page](https://www.chromium.org